.redactor-statusbar{
    background: #ededed;
    padding-left: 4px;
    width: 100%;
    float: left;
}
.redactor-statusbar > li{
    display: block;
    color: rgba(0,0,0,.5);
    padding: 2px 10px;
    border-right: 1px solid rgba(0,0,0,.1);
    float: left;
}
.redactor-statusbar > li:last-child {
    border-right-color: transparent;
}