/* body {
  background-image: url("http://arquivo.devmedia.com.br/naoexclusivo/JoelRodrigues/Documentacao/css-background/bg1.jpg");
} */

.container {
  position: relative;
}

#image {
  position: absolute;
}

#texto {
  position: absolute; 
  font-size: 13px;
  left: 135px;
  top: 116px;
}

#unidade {
  position: absolute; 
  font-size: 11px;
  left: 40px;
  top: 200px;
}

#tipoAvaliacao {
  position: absolute; 
  font-size: 11px;
  left: 40px;
  top: 215px;
}

#IdTotvs {
  position: absolute; 
  font-size: 11px;
  left: 40px;
  top: 230px;
}

#dtInicio {
  position: absolute; 
  font-size: 10px;
  left: 387px;
  top: 215px;
}
#dtTermino {
  position: absolute; 
  font-size: 10px;
  left: 387px;
  top: 228px;
}

#codigo {
  position: absolute; 
  font-size: 13px;
  left: 600px;
  top: 130px;
}

#turma {
  position: absolute; 
  font-size: 13px;
  left: 600px;
  top: 172px;
}

