/* What it does: Stops email clients resizing small text. */
* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.border-card-blue {
  border-left: 0.2rem solid #188ae2 !important;
}

.border-card-green {
  border-left: 0.2rem solid #31ce77 !important;
}

.border-card-purple {
  border-left: 0.2rem solid #6b5eae !important;
}

.border-card-blue-school {
  border-left: 0.2rem solid #015e9e !important;
}

.border-card-blue-course {
  border-left: 0.2rem solid #2962ff !important;
}

.border-card-red-traineer {
  border-left: 0.2rem solid #f50057 !important;
}

.border-card-blue-student {
  border-left: 0.2rem solid #66cdaa !important;
}

.border-card-usuario {
  border-left: 0.2rem solid #525252 !important;
}

.border-card-vendas {
  border-left: 0.2rem solid #0e9358 !important;
}

.border-card-envios-em-lotes {
  border-left: 0.2rem solid #727272 !important;
}

.border-card-noticias {
  border-left: 0.2rem solid #fd8469 !important;
}

.border-card-anuncios {
  border-left: 0.2rem solid #ffb800 !important;
}

.border-card-produtos {
  border-left: 0.2rem solid #c300ff !important;
}

.border-card-paginas {
  border-left: 0.2rem solid #bb923b !important;
}

/*.line-hr{
  height: 0.05rem; border: 0;
}*/

.text-blue-school {
  color: #015e9e;
}
.text-blue-course {
  color: #2962ff;
}
.text-red-traineer {
  color: #f50057;
}
.text-blue-student {
  color: #66cdaa;
}
.text-usuario {
  color: #525252;
}
.text-vendas {
  color: #0e9358;
}
.text-envios-em-lotes {
  color: #727272;
}
.text-noticias {
  color: #fd8469;
}
.text-anuncios {
  color: #ffb800;
}
.text-produtos {
  color: #c300ff;
}
.text-paginas {
  color: #bb923b;
}

.icon-avaliation {
  background-image: url("../images/avaliation.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-redaction {
  background-image: url("../images/redaction.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-reports {
  background-image: url("../images/reports.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-school {
  background-image: url("../images/school.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-course {
  background-image: url("../images/course.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-traineer {
  background-image: url("../images/traineer.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-student {
  background-image: url("../images/student.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-usuario {
  background-image: url("../images/usuario.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-vendas {
  background-image: url("../images/prince.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-envios-em-lotes {
  background-image: url("../images/send.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-news {
  background-image: url("../images/news.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-announcement {
  background-image: url("../images/announcement.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-product {
  background-image: url("../images/product.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.icon-page {
  background-image: url("../images/page.svg");
  float: left;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
}

.card-menu {
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
  background-color: #fff;
  border-radius: 0.25rem;
}

.float-left {
  float: left;
}

.card-height {
  height: 7rem;
}

.height100 {
  height: 100%;
}

.lista-menus {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .card-body a {
    font-size: 0.7rem;
  }
  .card-body h5 {
    font-size: 0.8rem;
  }
  .card-body p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1240px) {
  .card-body a {
    font-size: 0.6rem;
  }
  .card-body h5 {
    font-size: 0.7rem;
  }
  .card-body p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 1120px) {
  .card-body a {
    font-size: 0.6rem;
  }
  .card-body h5 {
    font-size: 0.7rem;
  }
  .card-body p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .card-body a {
    font-size: 0.6rem;
  }
  .card-body h5 {
    font-size: 0.8rem;
  }
  .card-body p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 991px) {
  .card-body a {
    font-size: 0.7rem;
  }
  .card-body h5 {
    font-size: 0.9rem;
  }
  .card-body p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 615px) {
  .card-body a {
    font-size: 0.6rem;
  }
  .card-body h5 {
    font-size: 0.8rem;
  }
  .card-body p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 575px) {
  .card-body a {
    font-size: 0.8rem;
  }
  .card-body h5 {
    font-size: 1rem;
  }
  .card-body p {
    font-size: 0.8rem;
  }
}
