@import url(https://fonts.googleapis.com/css?family=Gothic + A1:400, 500, 600, 700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barlow:300, 400, 500, 600&display=swap);
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 60px;
    overflow-x: hidden;
}
.metismenu {
    padding: 0;
}
.metismenu li {
    list-style: none;
}
.metismenu li a[aria-expanded="true"] {
    color: #188ae2 !important;
}
.metismenu ul {
    padding: 0;
}
.metismenu ul li {
    width: 100%;
}
.metismenu .mm-collapse:not(.mm-show) {
    display: none;
}
.metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
}
.nav-second-level li a,
.nav-thrid-level li a {
    padding: 8px 20px;
    color: #5d6575;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 14px;
}
.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover {
    color: #121316;
}
.nav-second-level li > a.active,
.nav-thrid-level li > a.active {
    color: #188ae2;
}
#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.content-page {
    margin-left: 240px;
    overflow: hidden;
    padding: 0 15px 5px 15px;
    min-height: 80vh;
    margin-top: 70px;
    background-color: #f6f6f4;
}
.left-side-menu {
    width: 240px;
    background: #fff;
    bottom: 0;
    padding: 20px 0;
    position: fixed;
    top: 70px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
    box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#sidebar-menu > ul > li > a {
    color: #9c9c9c;
    display: block;
    padding: 7px 20px;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-family: Barlow, sans-serif;
    font-size: 0.925rem;
    border-right: 2px solid transparent;
    border:solid 2px;
    border-radius: 30px;
    margin-bottom: 3%;
}
#sidebar-menu > ul > li > a:active,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:hover {
    color: #121316;
    text-decoration: none;
}
#sidebar-menu > ul > li > a > span {
    vertical-align: middle;
}
#sidebar-menu > ul > li > a i {
    display: inline-block;
    line-height: 1.25rem;
    margin: 0 10px 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    font-size: 14px;
}
#sidebar-menu > ul > li > a .drop-arrow {
    float: right;
}
#sidebar-menu > ul > li > a .drop-arrow i {
    margin-right: 0;
}
#sidebar-menu > ul > li > a.active {
    color: #188ae2;
    background-color: #f1f5f7;
    border-right-color: #188ae2;
    border: solid 2px;
    border-radius: 30px;
}
#sidebar-menu > ul > li > ul {
    padding-left: 40px;
}
#sidebar-menu > ul > li > ul ul {
    padding-left: 20px;
}
#sidebar-menu .menu-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: "Material Design Icons";
    text-rendering: auto;
    font-size: 1.1rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
#sidebar-menu .menu-arrow:before {
    content: "\F142";
}
#sidebar-menu .badge {
    margin-top: 4px;
}
#sidebar-menu li.mm-active > a > span.menu-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#sidebar-menu .menu-title {
    padding: 10px 20px;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
.enlarged .logo {
    width: 70px !important;
}
.enlarged .logo span.logo-lg {
    display: none;
}
.enlarged .logo span.logo-sm {
    display: block;
}
.enlarged .left-side-menu {
    position: absolute;
    padding-top: 50px;
    width: 70px !important;
    z-index: 5;
}
.enlarged .left-side-menu .slimScrollDiv,
.enlarged .left-side-menu .slimscroll-menu {
    overflow: inherit !important;
    height: auto !important;
}
.enlarged .left-side-menu .slimScrollBar {
    visibility: hidden;
}
.enlarged .left-side-menu #sidebar-menu .badge,
.enlarged .left-side-menu #sidebar-menu .label,
.enlarged .left-side-menu #sidebar-menu .menu-arrow,
.enlarged .left-side-menu #sidebar-menu .menu-title,
.enlarged .left-side-menu #sidebar-menu .user-box {
    display: none !important;
}
.enlarged .left-side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a {
    padding: 15px 20px;
    min-height: 54px;
    -webkit-transition: none;
    transition: none;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a:active,
.enlarged .left-side-menu #sidebar-menu > ul > li > a:focus,
.enlarged .left-side-menu #sidebar-menu > ul > li > a:hover {
    color: #121316;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a i {
    font-size: 16px;
    margin-right: 20px;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a span {
    display: none;
    padding-left: 25px;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > a {
    position: relative;
    width: calc(190px + 70px);
    color: #188ae2;
    background-color: #343b4a;
    -webkit-transition: none;
    transition: none;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > a span {
    display: inline;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover a.mm-active :after,
.enlarged .left-side-menu #sidebar-menu > ul > li:hover a.open :after {
    display: none;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto !important;
    -webkit-box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
    box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul ul {
    -webkit-box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
    box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover {
    color: #121316;
}
.enlarged .left-side-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #fff;
}
.enlarged .left-side-menu #sidebar-menu > ul ul li:hover > ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    height: auto !important;
    position: absolute;
    width: 190px;
}
.enlarged .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
    position: absolute;
    right: 20px;
    top: 12px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.enlarged .left-side-menu #sidebar-menu > ul ul li.active a {
    color: #c8cddc;
}
.enlarged .content-page {
    margin-left: 70px !important;
}
.enlarged .footer {
    left: 70px !important;
}
@media (min-width: 769px) {
    body.enlarged {
        min-height: 1200px;
    }
}
@media (max-width: 767.98px) {
    body {
        overflow-x: hidden;
    }
    .left-side-menu {
        display: none;
        z-index: 10 !important;
    }
    .sidebar-enable .left-side-menu {
        display: block;
    }
    .content-page,
    .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 10px;
    }
    .pro-user-name {
        display: none;
    }
    .logo-box {
        display: none;
    }
}
.left-side-menu-sm .logo {
    width: 160px;
}
.left-side-menu-sm .left-side-menu {
    width: 160px;
    text-align: center;
}
.left-side-menu-sm .left-side-menu #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0;
}
.left-side-menu-sm .left-side-menu #sidebar-menu > ul ul {
    padding-left: 0;
}
.left-side-menu-sm .left-side-menu #sidebar-menu > ul ul a {
    padding: 10px 20px;
}
.left-side-menu-sm .left-side-menu .badge,
.left-side-menu-sm .left-side-menu .menu-arrow {
    display: none !important;
}
.left-side-menu-sm .left-side-menu + .content-page {
    margin-left: 160px;
}
.left-side-menu-sm .left-side-menu + .content-page .footer {
    left: 160px;
}
.enlarged.left-side-menu-sm #wrapper .left-side-menu {
    text-align: left;
}
.enlarged.left-side-menu-sm #wrapper .left-side-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px;
}
.left-side-menu-dark .navbar-custom {
    background-color: #fff;
    -webkit-box-shadow: 240px 1px 0 0 #f1f5f7;
    box-shadow: 240px 1px 0 0 #f1f5f7;
}
.left-side-menu-dark .navbar-custom .logo {
    background-color: #ffffff;
}
.left-side-menu-dark .navbar-custom .topnav-menu .nav-link {
    color: #6c757d;
}
.left-side-menu-dark .navbar-custom .button-menu-mobile.navbar-toggle span {
    background-color: #6c757d !important;
}
.left-side-menu-dark .navbar-custom .app-search .form-control,
.left-side-menu-dark .navbar-custom .app-search .form-control:focus {
    color: #414d5f;
    background-color: #f7f7f7;
}
.left-side-menu-dark .left-side-menu {
    background-color: #343b4a;
}
.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a {
    color: #9097a7;
}
.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:active,
.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:focus,
.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:hover {
    color: #c8cddc;
}
.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a.active {
    color: #fff;
    background-color: #3c4556;
    border-right-color: #fff;
    border: solid 2px;
    border-radius: 30px;
}
.left-side-menu-dark .left-side-menu #sidebar-menu .menu-title {
    color: #adb5bd;
}
.left-side-menu-dark .left-side-menu .nav-second-level li a,
.left-side-menu-dark .left-side-menu .nav-thrid-level li a {
    color: #9097a7;
}
.left-side-menu-dark .left-side-menu .nav-second-level li a:focus,
.left-side-menu-dark .left-side-menu .nav-second-level li a:hover,
.left-side-menu-dark .left-side-menu .nav-thrid-level li a:focus,
.left-side-menu-dark .left-side-menu .nav-thrid-level li a:hover {
    background-color: transparent;
    color: #c8cddc;
}
.left-side-menu-dark .left-side-menu .nav-second-level li > a.active,
.left-side-menu-dark .left-side-menu .nav-third-level li > a.active {
    color: #fff;
}
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
    background-color: #3c4556;
}
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-second-level li > a.active,
.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu .nav-third-level li > a.active {
    color: #188ae2;
}
.logo {
    display: block;
    line-height: 70px;
    width: 240px;
    text-align: center;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.logo span.logo-lg {
    display: block;
}
.logo span.logo-sm {
    display: none;
}
.navbar-custom {
    background-color: #ffffff;
    padding: 0 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    -webkit-box-shadow: 0 0 35px 0 rgba(52, 59, 74, 0.15);
    box-shadow: 0 0 35px 0 rgba(52, 59, 74, 0.15);
}
.navbar-custom .topnav-menu > li {
    float: left;
}
.navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.8);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px;
}
.navbar-custom .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, 0.05);
}
.navbar-custom .menu-left {
    overflow: hidden;
}
.navbar-custom .app-search {
    padding-top: 16px;
    padding-right: 20px;
}
.navbar-custom .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    color: #4a4a4a;
    background-color: rgba(25, 25, 25, 0.05);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 180px;
    width: 80%;
}
.navbar-custom .button-menu-mobile {
    border: none;
    color: #414d5f;
    display: block;
    height: 70px;
    line-height: 70px;
    width: 60px;
    font-size: 24px;
    cursor: pointer;
    
    background: #238ae8; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}
.navbar-custom .button-menu-mobile.navbar-toggle {
    position: relative;
}
.navbar-custom .button-menu-mobile.navbar-toggle:focus,
.navbar-custom .button-menu-mobile.navbar-toggle:hover {
    /*background-color: transparent;*/
}
.navbar-custom .button-menu-mobile.navbar-toggle:focus span,
.navbar-custom .button-menu-mobile.navbar-toggle:hover span {
    /*background-color: #fff;*/
}
.navbar-custom .button-menu-mobile.navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    padding-top: 27px;
    height: 44px;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-custom .button-menu-mobile.navbar-toggle span:first-child {
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.navbar-custom .button-menu-mobile.navbar-toggle span:last-child {
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);

    margin-top: 40%;
}




.navbar-custom .button-menu-mobile.navbar-toggle.open span {
    position: absolute;
}
.navbar-custom .button-menu-mobile.navbar-toggle.open span:first-child {
    /*top: 34px;*/
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.navbar-custom .button-menu-mobile.navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}
.navbar-custom .button-menu-mobile.navbar-toggle.open span:last-child {
    width: 100%;
    /*top: 34px;*/
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-top: 50%;
}
.navbar-custom .button-menu-mobile.disable-btn {
    display: none;
}
.noti-scroll {
    max-height: 230px;
}
.notification-list {
    margin-left: 0;
}
.notification-list .noti-title {
    background-color: #fff;
    padding: 15px 20px;
}
.notification-list .noti-icon {
    font-size: 21px;
    vertical-align: middle;
}
.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 8px;
}
.notification-list .notify-item {
    padding: 12px 20px;
}
.notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}
.notification-list .notify-item .notify-details {
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #414d5f;
    font-weight: 500;
}
.notification-list .notify-item .notify-details b {
    font-weight: 500;
}
.notification-list .notify-item .notify-details small {
    display: block;
}
.notification-list .notify-item .notify-details span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.notification-list .notify-item .user-msg {
    margin-left: 45px;
    white-space: normal;
    line-height: 16px;
}
.notification-list .profile-dropdown .notify-item {
    padding: 0.45rem 1.2rem;
}
.profile-dropdown {
    width: 170px;
}
.profile-dropdown i {
    vertical-align: middle;
    margin-right: 5px;
}
.nav-user {
    padding: 0 12px !important;
}
.nav-user img {
    height: 32px;
    width: 32px;
}
.topbar-dark .navbar-custom {
    background-color: #343b4a !important;
}
.topbar-dark .navbar-custom .topnav-menu .nav-link {
    color: #ced4da;
}
.topbar-dark .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(241, 245, 247, 0.03);
}
.topbar-dark .navbar-custom .button-menu-mobile span {
    background-color: #98a6ad;
}
.topbar-dark .navbar-custom .waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.topbar-dark .navbar-custom .app-search input::-webkit-input-placeholder {
    color: #6c757d !important;
}
.topbar-dark .navbar-custom .app-search .form-control {
    color: #fff;
    background-color: #3a4253;
    border-color: #f1f5f7;
}
.topbar-dark .navbar-custom .app-search .btn {
    background-color: #3a4253;
    color: #ced4da;
}
@media (max-width: 768px) {
    .navbar-custom .logo,
    .navbar-custom .logo.logo-sm {
        width: 70px;
    }
    .navbar-custom .logo .logo-lg,
    .navbar-custom .logo.logo-sm .logo-lg {
        display: none;
    }
    .navbar-custom .logo .logo-sm,
    .navbar-custom .logo.logo-sm .logo-sm {
        display: inline-block;
    }
}
.page-title-box {
    position: relative;
    background-color: #fff;
    padding: 0 30px;
    margin: 0 -30px 30px -30px;
}
.page-title-box .page-title {
    font-size: 1.125rem;
    margin: 0;
    line-height: 50px;
    color: #323a46;
}
.page-title-box .page-title-right {
    float: right;
}
.page-title-box .breadcrumb {
    margin-bottom: 0;
    padding: 14px 0;
}
.page-title-box .breadcrumb a {
    color: #98a6ad;
}
@media (max-width: 767.98px) {
    .page-title-box .page-title {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 70px;
    }
    .page-title-box .breadcrumb {
        display: none;
    }
}
@media (max-width: 640px) {
    .page-title-box .page-title-right {
        display: none;
    }
}
@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display: none;
    }
}
.footer {
    bottom: 0;
    padding: 19px 15px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 240px;
    background-color: #f0f1f4;
}
.footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.footer .footer-links a:hover {
    color: #323a46;
}
.footer .footer-links a:first-of-type {
    margin-left: 0;
}
.footer-alt {
    left: 0 !important;
    text-align: center;
    background-color: transparent;
}
@media (max-width: 767.98px) {
    .footer {
        left: 0 !important;
        text-align: center;
    }
}
.right-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    display: block;
    position: fixed;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 260px;
    z-index: 9999;
    float: right !important;
    right: -270px;
    top: 0;
    bottom: 0;
}
.right-bar .rightbar-title {
    background-color: #188ae2;
    padding: 27px 25px;
    color: #fff;
}
.right-bar .right-bar-toggle {
    background-color: #505e74;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-top: -4px;
}
.right-bar .right-bar-toggle:hover {
    background-color: #56667d;
}
.right-bar .user-box {
    padding: 25px;
    text-align: center;
}
.right-bar .user-box .user-img {
    position: relative;
    height: 64px;
    width: 64px;
    margin: 0 auto 15px auto;
}
.right-bar .user-box .user-img .user-edit {
    position: absolute;
    right: -5px;
    bottom: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    line-height: 24px;
    border-radius: 50%;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
}
.right-bar .user-box h5 {
    margin-bottom: 2px;
}
.right-bar .user-box h5 a {
    color: #414d5f;
}
.rightbar-overlay {
    background-color: rgba(65, 77, 95, 0.55);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9998;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.right-bar-enabled .right-bar {
    right: 0;
}
.right-bar-enabled .rightbar-overlay {
    display: block;
}
@media (max-width: 767.98px) {
    .right-bar {
        overflow: auto;
    }
    .right-bar .slimscroll-menu {
        height: auto !important;
    }
}
.inbox-widget .inbox-item {
    overflow: hidden;
    padding: 0.625rem 0;
    position: relative;
}
.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
}
.inbox-widget .inbox-item .inbox-item-img img {
    width: 40px;
}
.inbox-widget .inbox-item .inbox-item-author {
    color: #414d5f;
    display: block;
    margin-bottom: 0;
    font-weight: 500;
}
.inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    margin: 0;
    overflow: hidden;
}
.inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 0.6875rem;
    position: absolute;
    right: 5px;
    top: 10px;
}
body.boxed-layout {
    background-color: #f8f3ef;
}
body.boxed-layout #wrapper {
    background-color: #f5f6f8;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
    box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
}
body.boxed-layout .navbar-custom {
    max-width: 1300px;
    margin: 0 auto;
}
body.boxed-layout .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px);
}
body.boxed-layout.enlarged .footer {
    max-width: calc(1300px - 70px);
}
.width-xs {
    min-width: 80px;
}
.width-sm {
    min-width: 95px;
}
.width-md {
    min-width: 110px;
}
.width-lg {
    min-width: 140px;
}
.width-xl {
    min-width: 160px;
}
.font-family-secondary {
    font-family: Barlow, sans-serif;
}
.avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
}
.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}
.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}
.avatar-lg {
    height: 4.5rem;
    width: 4.5rem;
}
.avatar-xl {
    height: 6rem;
    width: 6rem;
}
.avatar-xxl {
    height: 7.5rem;
    width: 7.5rem;
}
.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.avatar-group {
    padding-left: 12px;
}
.avatar-group .avatar-group-item {
    margin: 0 0 10px -12px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
}
.font-weight-medium {
    font-weight: 500;
}
.font-weight-semibold {
    font-weight: 600;
}
.sp-line-1,
.sp-line-2,
.sp-line-3,
.sp-line-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.sp-line-1 {
    -webkit-line-clamp: 1;
}
.sp-line-2 {
    -webkit-line-clamp: 2;
}
.sp-line-3 {
    -webkit-line-clamp: 3;
}
.sp-line-4 {
    -webkit-line-clamp: 4;
}
.pull-in {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 4px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.checkbox label {
    display: inline-block;
    padding-left: 8px;
    position: relative;
    font-weight: 400;
    margin-bottom: 0;
}
.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 18px;
    outline: 0 !important;
    top: 2px;
}
.checkbox label::after {
    color: #6c757d;
    display: inline-block;
    font-size: 11px;
    height: 18px;
    left: 0;
    margin-left: -18px;
    padding-left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    width: 18px;
}
.checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0 !important;
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: 0;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    display: table;
    width: 4px;
    height: 8px;
    border: 2px solid #6c757d;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #f1f5f7;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox.checkbox-single input {
    height: 18px;
    width: 18px;
    position: absolute;
}
.checkbox.checkbox-single label {
    height: 18px;
    width: 18px;
}
.checkbox.checkbox-single label:before {
    margin-left: 0;
}
.checkbox.checkbox-single label:after {
    margin-left: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #188ae2;
    border-color: #188ae2;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-secondary input[type="checkbox"]:checked + label::before {
    background-color: #6c757d;
    border-color: #6c757d;
}
.checkbox-secondary input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #31ce77;
    border-color: #31ce77;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #35b8e0;
    border-color: #35b8e0;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #fbcc5c;
    border-color: #fbcc5c;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #f34943;
    border-color: #f34943;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-light input[type="checkbox"]:checked + label::before {
    background-color: #f1f5f7;
    border-color: #f1f5f7;
}
.checkbox-light input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-dark input[type="checkbox"]:checked + label::before {
    background-color: #414d5f;
    border-color: #414d5f;
}
.checkbox-dark input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-pink input[type="checkbox"]:checked + label::before {
    background-color: #ff679b;
    border-color: #ff679b;
}
.checkbox-pink input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.checkbox-purple input[type="checkbox"]:checked + label::before {
    background-color: #6b5eae;
    border-color: #6b5eae;
}
.checkbox-purple input[type="checkbox"]:checked + label::after {
    border-color: #fff;
}
.radio label {
    display: inline-block;
    padding-left: 8px;
    position: relative;
    font-weight: 400;
    margin-bottom: 0;
}
.radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 18px;
    outline: 0 !important;
}
.radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #6c757d;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 4px;
    transform: scale(0, 0);
    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 10px;
}
.radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0 !important;
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:focus + label::before {
    outline-offset: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
.radio.radio-single label {
    height: 17px;
}
.radio-primary input[type="radio"] + label::after {
    background-color: #188ae2;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #188ae2;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #188ae2;
}
.radio-secondary input[type="radio"] + label::after {
    background-color: #6c757d;
}
.radio-secondary input[type="radio"]:checked + label::before {
    border-color: #6c757d;
}
.radio-secondary input[type="radio"]:checked + label::after {
    background-color: #6c757d;
}
.radio-success input[type="radio"] + label::after {
    background-color: #31ce77;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #31ce77;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #31ce77;
}
.radio-info input[type="radio"] + label::after {
    background-color: #35b8e0;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #35b8e0;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #35b8e0;
}
.radio-warning input[type="radio"] + label::after {
    background-color: #fbcc5c;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #fbcc5c;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #fbcc5c;
}
.radio-danger input[type="radio"] + label::after {
    background-color: #f34943;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #f34943;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #f34943;
}
.radio-light input[type="radio"] + label::after {
    background-color: #f1f5f7;
}
.radio-light input[type="radio"]:checked + label::before {
    border-color: #f1f5f7;
}
.radio-light input[type="radio"]:checked + label::after {
    background-color: #f1f5f7;
}
.radio-dark input[type="radio"] + label::after {
    background-color: #414d5f;
}
.radio-dark input[type="radio"]:checked + label::before {
    border-color: #414d5f;
}
.radio-dark input[type="radio"]:checked + label::after {
    background-color: #414d5f;
}
.radio-pink input[type="radio"] + label::after {
    background-color: #ff679b;
}
.radio-pink input[type="radio"]:checked + label::before {
    border-color: #ff679b;
}
.radio-pink input[type="radio"]:checked + label::after {
    background-color: #ff679b;
}
.radio-purple input[type="radio"] + label::after {
    background-color: #6b5eae;
}
.radio-purple input[type="radio"]:checked + label::before {
    border-color: #6b5eae;
}
.radio-purple input[type="radio"]:checked + label::after {
    background-color: #6b5eae;
}
.ribbon-box {
    position: relative;
}
.ribbon-box .ribbon {
    position: relative;
    clear: both;
    padding: 5px 12px;
    margin-bottom: 15px;
    -webkit-box-shadow: 2px 5px 10px rgba(65, 77, 95, 0.15);
    box-shadow: 2px 5px 10px rgba(65, 77, 95, 0.15);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.ribbon-box .ribbon:before {
    content: " ";
    border-style: solid;
    border-width: 10px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-bottom: -10px;
    z-index: -1;
}
.ribbon-box .ribbon.float-left {
    margin-left: -30px;
    border-radius: 0 3px 3px 0;
}
.ribbon-box .ribbon.float-right {
    margin-right: -30px;
    border-radius: 3px 0 0 3px;
}
.ribbon-box .ribbon.float-right:before {
    right: 0;
}
.ribbon-box .ribbon.float-center span {
    margin: 0 auto 20px auto;
}
.ribbon-box .ribbon-icon {
    position: absolute;
    right: 10px;
    top: -18px;
}
.ribbon-box .ribbon-content {
    clear: both;
}
.ribbon-box .ribbon-primary {
    background: #188ae2;
}
.ribbon-box .ribbon-primary:before {
    border-color: #136eb4 transparent transparent;
}
.ribbon-box .ribbon-secondary {
    background: #6c757d;
}
.ribbon-box .ribbon-secondary:before {
    border-color: #545b62 transparent transparent;
}
.ribbon-box .ribbon-success {
    background: #31ce77;
}
.ribbon-box .ribbon-success:before {
    border-color: #27a55f transparent transparent;
}
.ribbon-box .ribbon-info {
    background: #35b8e0;
}
.ribbon-box .ribbon-info:before {
    border-color: #1e9dc4 transparent transparent;
}
.ribbon-box .ribbon-warning {
    background: #fbcc5c;
}
.ribbon-box .ribbon-warning:before {
    border-color: #fabc2a transparent transparent;
}
.ribbon-box .ribbon-danger {
    background: #f34943;
}
.ribbon-box .ribbon-danger:before {
    border-color: #f01b13 transparent transparent;
}
.ribbon-box .ribbon-light {
    background: #f1f5f7;
}
.ribbon-box .ribbon-light:before {
    border-color: #d1dee4 transparent transparent;
}
.ribbon-box .ribbon-dark {
    background: #414d5f;
}
.ribbon-box .ribbon-dark:before {
    border-color: #2c3441 transparent transparent;
}
.ribbon-box .ribbon-pink {
    background: #ff679b;
}
.ribbon-box .ribbon-pink:before {
    border-color: #ff3479 transparent transparent;
}
.ribbon-box .ribbon-purple {
    background: #6b5eae;
}
.ribbon-box .ribbon-purple:before {
    border-color: #544990 transparent transparent;
}
.ribbon-box .ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon-box .ribbon-two span {
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    position: absolute;
    top: 19px;
    left: -21px;
    font-weight: 600;
}
.ribbon-box .ribbon-two span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.ribbon-box .ribbon-two span:after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.ribbon-box .ribbon-two-primary span {
    background: #188ae2;
}
.ribbon-box .ribbon-two-primary span:before {
    border-left: 3px solid #11609d;
    border-top: 3px solid #11609d;
}
.ribbon-box .ribbon-two-primary span:after {
    border-right: 3px solid #11609d;
    border-top: 3px solid #11609d;
}
.ribbon-box .ribbon-two-secondary span {
    background: #6c757d;
}
.ribbon-box .ribbon-two-secondary span:before {
    border-left: 3px solid #494f54;
    border-top: 3px solid #494f54;
}
.ribbon-box .ribbon-two-secondary span:after {
    border-right: 3px solid #494f54;
    border-top: 3px solid #494f54;
}
.ribbon-box .ribbon-two-success span {
    background: #31ce77;
}
.ribbon-box .ribbon-two-success span:before {
    border-left: 3px solid #229053;
    border-top: 3px solid #229053;
}
.ribbon-box .ribbon-two-success span:after {
    border-right: 3px solid #229053;
    border-top: 3px solid #229053;
}
.ribbon-box .ribbon-two-info span {
    background: #35b8e0;
}
.ribbon-box .ribbon-two-info span:before {
    border-left: 3px solid #1b8bae;
    border-top: 3px solid #1b8bae;
}
.ribbon-box .ribbon-two-info span:after {
    border-right: 3px solid #1b8bae;
    border-top: 3px solid #1b8bae;
}
.ribbon-box .ribbon-two-warning span {
    background: #fbcc5c;
}
.ribbon-box .ribbon-two-warning span:before {
    border-left: 3px solid #f9b511;
    border-top: 3px solid #f9b511;
}
.ribbon-box .ribbon-two-warning span:after {
    border-right: 3px solid #f9b511;
    border-top: 3px solid #f9b511;
}
.ribbon-box .ribbon-two-danger span {
    background: #f34943;
}
.ribbon-box .ribbon-two-danger span:before {
    border-left: 3px solid #db150e;
    border-top: 3px solid #db150e;
}
.ribbon-box .ribbon-two-danger span:after {
    border-right: 3px solid #db150e;
    border-top: 3px solid #db150e;
}
.ribbon-box .ribbon-two-light span {
    background: #f1f5f7;
}
.ribbon-box .ribbon-two-light span:before {
    border-left: 3px solid #c0d2db;
    border-top: 3px solid #c0d2db;
}
.ribbon-box .ribbon-two-light span:after {
    border-right: 3px solid #c0d2db;
    border-top: 3px solid #c0d2db;
}
.ribbon-box .ribbon-two-dark span {
    background: #414d5f;
}
.ribbon-box .ribbon-two-dark span:before {
    border-left: 3px solid #222832;
    border-top: 3px solid #222832;
}
.ribbon-box .ribbon-two-dark span:after {
    border-right: 3px solid #222832;
    border-top: 3px solid #222832;
}
.ribbon-box .ribbon-two-pink span {
    background: #ff679b;
}
.ribbon-box .ribbon-two-pink span:before {
    border-left: 3px solid #ff1b69;
    border-top: 3px solid #ff1b69;
}
.ribbon-box .ribbon-two-pink span:after {
    border-right: 3px solid #ff1b69;
    border-top: 3px solid #ff1b69;
}
.ribbon-box .ribbon-two-purple span {
    background: #6b5eae;
}
.ribbon-box .ribbon-two-purple span:before {
    border-left: 3px solid #4a407f;
    border-top: 3px solid #4a407f;
}
.ribbon-box .ribbon-two-purple span:after {
    border-right: 3px solid #4a407f;
    border-top: 3px solid #4a407f;
}
@media print {
    .footer,
    .left-side-menu,
    .navbar-custom,
    .page-title-box,
    .right-bar {
        display: none;
    }
    .card-body,
    .content,
    .content-page,
    .right-bar,
    body {
        padding: 0;
        margin: 0;
    }
} /*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}
.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
.waves-button {
    padding: 0.85em 1.1em;
    border-radius: 0.2em;
}
.waves-button-input {
    margin: 0;
    padding: 0.85em 1.1em;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-input-wrapper.waves-button {
    padding: 0;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
}
.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
    display: block;
}
.slimScrollDiv {
    height: auto !important;
}
.jq-toast-single {
    padding: 15px;
    font-family: Barlow, sans-serif;
    background-color: #188ae2;
    font-size: 13px;
    line-height: 22px;
}
.jq-toast-single h2 {
    font-family: Barlow, sans-serif;
}
.jq-toast-single a {
    font-size: 0.9rem;
}
.jq-toast-single a:hover {
    color: #fff;
}
.jq-has-icon {
    padding: 10px 10px 10px 50px;
}
.close-jq-toast-single {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 20px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: #414d5f;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
}
.jq-toast-loader {
    height: 3px;
    top: 0;
    border-radius: 0;
}
.jq-icon-primary {
    background-color: #188ae2;
    color: #fff;
    border-color: #188ae2;
}
.jq-icon-secondary {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}
.jq-icon-success {
    background-color: #31ce77;
    color: #fff;
    border-color: #31ce77;
}
.jq-icon-info {
    background-color: #35b8e0;
    color: #fff;
    border-color: #35b8e0;
}
.jq-icon-warning {
    background-color: #fbcc5c;
    color: #fff;
    border-color: #fbcc5c;
}
.jq-icon-danger {
    background-color: #f34943;
    color: #fff;
    border-color: #f34943;
}
.jq-icon-light {
    background-color: #f1f5f7;
    color: #fff;
    border-color: #f1f5f7;
}
.jq-icon-dark {
    background-color: #414d5f;
    color: #fff;
    border-color: #414d5f;
}
.jq-icon-pink {
    background-color: #ff679b;
    color: #fff;
    border-color: #ff679b;
}
.jq-icon-purple {
    background-color: #6b5eae;
    color: #fff;
    border-color: #6b5eae;
}
.jq-icon-error {
    background-color: #f34943;
    color: #fff;
    border-color: #f34943;
}
.swal2-modal {
    font-family: Barlow, sans-serif;
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}
.swal2-modal .swal2-title {
    font-size: 24px;
}
.swal2-modal .swal2-content {
    font-size: 16px;
}
.swal2-modal .swal2-spacer {
    margin: 10px 0;
}
.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
    border: 2px solid #dee2e6;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.swal2-icon.swal2-question {
    color: #188ae2;
    border-color: #188ae2;
}
.swal2-icon.swal2-warning {
    color: #fbcc5c;
    border-color: #fbcc5c;
}
.swal2-icon.swal2-error {
    border-color: #f34943;
}
.swal2-icon.swal2-error .line {
    background-color: #f34943;
}
.swal2-icon.swal2-info {
    color: #35b8e0;
    border-color: #35b8e0;
}
.swal2-icon.swal2-info .line {
    background-color: #35b8e0;
}
.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
    outline: 0;
    border: 2px solid #188ae2;
}
.swal2-container.swal2-shown {
    background-color: rgba(65, 77, 95, 0.9);
}
.irs--flat .irs-bar,
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    background: #188ae2 !important;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    border-top-color: #188ae2;
}
.irs--flat .irs-max,
.irs--flat .irs-min {
    color: #98a6ad;
}
.irs--flat .irs-grid-text {
    font-size: 12px;
}
.irs--flat .irs-handle > i:first-child {
    background-color: #188ae2 !important;
}
.calendar {
    float: left;
    margin-bottom: 0;
}
.fc-view {
    margin-top: 30px;
}
.none-border .modal-footer {
    border-top: none;
}
.fc-toolbar {
    margin: 15px 0 5px 0;
}
.fc-toolbar h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-transform: uppercase;
}
.fc-day-grid-event .fc-time {
    font-weight: 700;
}
.fc-day {
    background: #fff;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar .ui-state-hover,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
    z-index: 0;
}
.fc th.fc-widget-header {
    background: #f1f5f7;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #dee2e6;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #f1f5f7;
    border-radius: 50%;
    margin: 5px;
    font-family: Barlow, sans-serif;
    font-size: 12px;
}
.fc-button {
    background: #f1f5f7;
    border: none;
    color: #6c757d;
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    margin: 0 3px;
    padding: 6px 12px;
    height: auto;
}
.fc-text-arrow {
    font-family: inherit;
    font-size: 1rem;
}
.fc-state-hover {
    background: #f1f5f7;
}
.fc-state-highlight {
    background: #dee2e6;
}
.fc-state-active,
.fc-state-disabled,
.fc-state-down {
    background-color: #188ae2;
    color: #fff;
    text-shadow: none;
}
.fc-cell-overlay {
    background: #dee2e6;
}
.fc-unthemed .fc-today {
    background: #fff;
}
.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: 0.8125rem;
    margin: 5px 7px;
    padding: 5px 5px;
    text-align: center;
}
.external-event {
    cursor: move;
    margin: 10px 0;
    padding: 8px 10px;
    color: #fff;
    border-radius: 4px;
}
.fc-basic-view td.fc-week-number span {
    padding-right: 8px;
}
.fc-basic-view td.fc-day-number {
    padding-right: 8px;
}
.fc-basic-view .fc-content {
    color: #fff;
}
.fc-time-grid-event .fc-content {
    color: #fff;
}
@media (max-width: 767.98px) {
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-left,
    .fc-toolbar .fc-right {
        float: none;
        display: block;
        clear: both;
        margin: 10px 0;
    }
    .fc .fc-toolbar > * > * {
        float: none;
    }
    .fc-today-button {
        display: none;
    }
}
.flotTip {
    padding: 8px 12px;
    background-color: #414d5f;
    z-index: 100;
    color: #fff;
    opacity: 1;
    border-radius: 3px;
}
.legend tr {
    height: 30px;
    font-family: Barlow, sans-serif;
}
.legendLabel {
    padding-left: 5px;
    line-height: 10px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #98a6ad;
}
.legendColorBox div div {
    border-radius: 50%;
}
@media (max-width: 767.98px) {
    .legendLabel {
        display: none;
    }
}
.ct-golden-section:before {
    float: none;
}
.ct-chart {
    max-height: 350px;
}
.ct-chart .ct-label {
    fill: #adb5bd;
    color: #adb5bd;
    font-size: 12px;
    line-height: 1;
}
.ct-grid {
    stroke: rgba(65, 77, 95, 0.1);
}
.ct-chart.simple-pie-chart-chartist .ct-label {
    color: #fff;
    fill: #fff;
    font-size: 16px;
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: #31ce77;
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: #35b8e0;
}
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: #188ae2;
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: #f34943;
}
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: #f7f7f7;
}
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: #ff679b;
}
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: #fbcc5c;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: #31ce77;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
    fill: #35b8e0;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: #188ae2;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
    fill: #f34943;
}
.ct-area {
    fill-opacity: 0.33;
}
.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    background: #414d5f;
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.chartist-tooltip.tooltip-show {
    opacity: 1;
}
.chartjs-chart {
    margin: auto;
    position: relative;
    width: 100%;
}
.chartjs-chart-example {
    height: 300px;
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto !important;
    height: auto !important;
    background-color: #414d5f !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
    padding: 5px 10px !important;
    border-radius: 3px;
    border-color: #414d5f !important;
}
.jqsfield {
    color: #fff !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-family: Barlow, sans-serif !important;
    font-weight: 500 !important;
}
.select2-container .select2-selection--single {
    border: 1px solid #ced4da;
    height: 38px;
    outline: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #c0d2db transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}
.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #c0d2db transparent !important;
    border-width: 0 6px 6px 6px !important;
}
.select2-results__option {
    padding: 6px 12px;
}
.select2-dropdown {
    border: 1px solid #e1e9ee;
    -webkit-box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
    box-shadow: 0 3px 8px 0 rgba(154, 161, 171, 0.2);
}
.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e1e9ee;
    outline: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #188ae2;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #f1f5f7;
    color: #414d5f;
}
.select2-container--default .select2-results__option[aria-selected="true"]:hover {
    background-color: #188ae2;
    color: #fff;
}
.select2-container .select2-selection--multiple {
    min-height: 38px;
    border: 1px solid #ced4da !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 10px;
}
.select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
}
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #188ae2;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 7px;
}
.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px;
}
.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}
.bootstrap-tagsinput {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 4px 7px 4px;
    width: 100%;
}
.bootstrap-tagsinput .label-info {
    background-color: #188ae2;
    display: inline-block;
    font-size: 13px;
    margin: 3px 1px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 500;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select .dropdown-toggle:before {
    content: "\F140";
    display: inline-block;
    font-family: "Material Design Icons";
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    outline-offset: 0;
}
.bootstrap-select a {
    outline: 0 !important;
}
.bootstrap-select .inner {
    overflow-y: inherit !important;
}
.bootstrap-timepicker-widget table td input {
    height: 32px;
    width: 32px;
    color: #fff;
    border: none;
    background-color: #188ae2;
    border-radius: 50%;
}
.bootstrap-timepicker-widget table td a:hover {
    background-color: transparent;
    border: 1px solid transparent;
    color: #188ae2;
}
.colorpicker-element .add-on i,
.colorpicker-element .input-group-addon i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
}
.colorpicker-element .btn-light {
    border-color: #ced4da;
}
.daterangepicker {
    font-family: Barlow, sans-serif;
}
.daterangepicker .ranges li.active,
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #188ae2;
}
.daterangepicker .drp-buttons .btn {
    font-weight: 600;
}
.datepicker {
    padding: 10px !important;
}
.datepicker th {
    font-weight: 600;
}
.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
}
.datepicker table tr td .active.disabled:hover[disabled],
.datepicker table tr td .active.disabled[disabled],
.datepicker table tr td .active:active,
.datepicker table tr td .active:hover,
.datepicker table tr td .active:hover.active,
.datepicker table tr td .active:hover.disabled,
.datepicker table tr td .active:hover:active,
.datepicker table tr td .active:hover:hover,
.datepicker table tr td .active:hover[disabled],
.datepicker table tr td .active[disabled],
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled],
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.selected,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #188ae2 !important;
    background-image: none !important;
    color: #fff;
}
.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: #f7f7f7;
}
.datepicker table tr td span.new,
.datepicker table tr td span.old,
.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #6c757d;
    opacity: 0.4;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #f7f7f7;
}
.datepicker .datepicker-switch:hover {
    background: 0 0;
}
.datepicker-dropdown:after {
    border-bottom: 6px solid #fff;
}
.datepicker-dropdown:before {
    border-bottom-color: #e7eef1;
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid #e7eef1;
}
.datepicker-dropdown.datepicker-orient-top:after {
    border-top: 6px solid #fff;
}
.datepicker-inline {
    border: 2px solid #f7f7f7;
}
.parsley-errors-list {
    margin: 0;
    padding: 0;
}
.parsley-errors-list > li {
    list-style: none;
    color: #f34943;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
}
.parsley-errors-list > li:before {
    content: "\F159";
    font-family: "Material Design Icons";
    position: absolute;
    left: 2px;
    top: -1px;
}
.parsley-error {
    border-color: #f34943;
}
.parsley-success {
    border-color: #31ce77;
}
.wizard > .steps {
    background-color: #f1f5f7;
    position: relative;
    display: block;
    width: 100%;
}
.wizard > .steps > ul > li {
    width: 25%;
}
.wizard > .steps .number {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 30px;
    margin-right: 10px;
    width: 30px;
    text-align: center;
    font-size: 1.429em;
}
.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
    display: block;
    width: auto;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 2px;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover {
    background: 0 0;
    color: #414d5f;
    cursor: default;
    border: none;
}
.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
    background: #35b8e0;
    color: #fff;
    cursor: default;
}
.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
    background: #dee2e6;
    color: #414d5f;
}
.wizard > .steps .error a,
.wizard > .steps .error a:active,
.wizard > .steps .error a:hover {
    background: #f34943;
    color: #fff;
}
.wizard > .actions > ul > li,
.wizard > .steps > ul > li {
    float: left;
}
.wizard > .content {
    display: block;
    margin: 0.5em;
    min-height: 240px;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 20px;
}
.wizard > .content > .body {
    padding: 0;
    position: relative;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.wizard > .content > .body ul {
    list-style: disc !important;
}
.wizard > .content > .body ul > li {
    display: block;
    line-height: 30px;
}
.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}
.wizard > .content > .body input {
    display: block;
    border-color: #ced4da;
}
.wizard > .content > .body input:focus {
    border-color: #b1bbc4;
}
.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}
.wizard > .content > .body input.error {
    background: #dee2e6;
    border: 1px solid #dee2e6;
    color: #f34943;
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: 10px;
}
.wizard > .content > .body label.error {
    color: #f34943;
    display: inline-block;
    margin-left: 1.5em;
}
.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    padding: 0 20px;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li {
    margin: 0 0.5em;
}
.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
    background: #35b8e0;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 2px;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
    background: #f7f7f7;
    color: #414d5f;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    width: 95%;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.tabcontrol,
.wizard {
    display: block;
    width: 100%;
    overflow: hidden;
}
.tabcontrol a,
.wizard a {
    outline: 0;
}
.tabcontrol ul,
.wizard ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
.tabcontrol ul > li,
.wizard ul > li {
    display: block;
    padding: 0;
}
.tabcontrol > .steps .current-info,
.wizard > .steps .current-info {
    position: absolute;
    left: -999em;
}
.tabcontrol > .content > .title,
.wizard > .content > .title {
    position: absolute;
    left: -999em;
}
@media (max-width: 767.98px) {
    .wizard.vertical > .content,
    .wizard.vertical > .steps,
    .wizard > .steps > ul > li {
        width: 100%;
    }
}
@font-face {
    font-family: summernote;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/summernote.eot);
    src: url(../fonts/summernote.eot?#iefix) format("embedded-opentype"), url(../fonts/summernote.woff?) format("woff"), url(../fonts/summernote.ttf?) format("truetype");
}
.note-editor.note-frame {
    border: 2px solid #f7f7f7;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}
.note-editor.note-frame .note-statusbar {
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7;
}
.note-editor.note-frame .note-editable {
    border: none;
}
.note-status-output {
    display: none;
}
.note-editable {
    border-radius: 0.2rem;
    padding: 0.45rem 0.9rem;
}
.note-editable p:last-of-type {
    margin-bottom: 0;
}
.card-header.note-toolbar .note-color .dropdown-menu,
.note-popover .popover-content .note-color .dropdown-menu {
    min-width: 344px;
}
.note-toolbar {
    z-index: 1;
}
.dropzone {
    border: 2px dashed rgba(65, 77, 95, 0.3);
    background: #fff;
    border-radius: 6px;
}
.dataTables_wrapper.container-fluid {
    padding: 0;
}
table.dataTable {
    border-collapse: collapse !important;
    margin-bottom: 15px !important;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
    background-color: #188ae2;
}
table.dataTable tbody > tr.selected td,
table.dataTable tbody > tr > .selected td {
    border-color: #188ae2;
}
table.dataTable tbody td:focus {
    outline: 0 !important;
}
table.dataTable tbody td.focus,
table.dataTable tbody th.focus {
    outline: 2px solid #188ae2 !important;
    outline-offset: -1px;
    color: #188ae2;
    background-color: rgba(24, 138, 226, 0.15);
}
.dataTables_info {
    font-weight: 500;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.12);
    background-color: #31ce77;
    top: 0.85rem;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    background-color: #f34943;
    top: 0.85rem;
}
div.dt-button-info {
    background-color: #188ae2;
    border: none;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    text-align: center;
    z-index: 21;
}
div.dt-button-info h2 {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
@media (max-width: 767.98px) {
    li.paginate_button.next,
    li.paginate_button.previous {
        display: inline-block;
        font-size: 1.5rem;
    }
    li.paginate_button {
        display: none;
    }
    .dataTables_paginate ul {
        text-align: center;
        display: block;
        margin: 1.5rem 0 0 !important;
    }
    div.dt-buttons {
        display: inline-table;
        margin-bottom: 1.5rem;
    }
}
.activate-select .sorting_1 {
    background-color: #f1f5f7;
}
.responsive-table-plugin .dropdown-menu li.checkbox-row {
    padding: 7px 15px;
}
.responsive-table-plugin .table-responsive {
    border: none;
    margin-bottom: 0;
}
.responsive-table-plugin .btn-toolbar {
    display: block;
}
.responsive-table-plugin tbody th {
    font-size: inherit;
    font-weight: 400;
    text-transform: none;
}
.responsive-table-plugin .checkbox-row {
    padding-left: 40px;
}
.responsive-table-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    margin-bottom: 0;
}
.responsive-table-plugin .checkbox-row label::before {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ced4da;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: 0;
}
.responsive-table-plugin .checkbox-row label::after {
    color: #ced4da;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: -2px;
    width: 16px;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: 0;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #dee2e6;
    cursor: not-allowed;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #188ae2;
}
.responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #188ae2;
}
.responsive-table-plugin .sticky-table-header,
.responsive-table-plugin table.focus-on tbody tr.focused td,
.responsive-table-plugin table.focus-on tbody tr.focused th {
    background: #188ae2;
    color: #fff;
    border-color: #188ae2;
}
.responsive-table-plugin .sticky-table-header table,
.responsive-table-plugin table.focus-on tbody tr.focused td table,
.responsive-table-plugin table.focus-on tbody tr.focused th table {
    color: #fff;
}
.responsive-table-plugin .fixed-solution .sticky-table-header {
    top: 70px !important;
    z-index: 1;
}
.responsive-table-plugin .btn-default {
    background-color: #fff;
    color: #414d5f;
    border: 1px solid rgba(65, 77, 95, 0.3);
}
.responsive-table-plugin .btn-default.btn-primary {
    background-color: #188ae2;
    border-color: #188ae2;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 138, 226, 0.5);
    box-shadow: 0 0 0 2px rgba(24, 138, 226, 0.5);
}
.responsive-table-plugin .btn-group.pull-right {
    float: right;
}
.responsive-table-plugin .btn-group.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}
.gmaps,
.gmaps-panaroma {
    height: 300px;
    background: #f1f5f7;
    border-radius: 3px;
}
.gmaps-overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    background: #188ae2;
    border-radius: 4px;
    padding: 10px 20px;
}
.gmaps-overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}
.gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #188ae2;
}
.gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #188ae2;
}
.jqvmap-label {
    background: #414d5f;
    font-family: Barlow, sans-serif;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
    width: 24px;
    height: 24px;
    line-height: 18px;
}
.jqvmap-zoomout {
    top: 40px;
}
.dash-sales-chart {
    height: 165px;
}
.conversion-chart,
.high-performing-product {
    height: 309px;
}
.dash-doughnut {
    height: 186px;
}
.dash-usa-map {
    height: 300px;
}
.datauses-area {
    height: 198px;
}
.button-list {
    margin-left: -8px;
    margin-bottom: -12px;
}
.button-list .btn {
    margin-bottom: 12px;
    margin-left: 8px;
}
.icons-list-demo div {
    cursor: pointer;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.icons-list-demo div p {
    margin-bottom: 0;
    line-height: inherit;
}
.icons-list-demo i {
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 12px;
    color: rgba(65, 77, 95, 0.7);
    border-radius: 3px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.icons-list-demo .col-lg-4 {
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    margin-top: 10px;
}
.icons-list-demo .col-lg-4:hover,
.icons-list-demo .col-lg-4:hover i {
    color: #188ae2;
}
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 0.5rem;
    overflow: auto;
}
.grid-structure .grid-container {
    background-color: #f1f5f7;
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 20px;
}
body.authentication-bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
}
body.authentication-bg-pattern {
    background-image: url(../images/background-login.png);
    background-color: #343b4a;
}
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}
.text-error {
    color: #188ae2;
    text-shadow: rgba(24, 138, 226, 0.3) 5px 1px, rgba(24, 138, 226, 0.2) 10px 3px;
    font-size: 84px;
    line-height: 90px;
    font-family: Barlow, sans-serif;
}
.price-ribbon span {
    font-size: 10px !important;
    letter-spacing: 1px;
}
.timeline {
    margin-bottom: 50px;
    position: relative;
}
.timeline:before {
    background-color: #35b8e0;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 2px;
    z-index: 0;
}
.timeline .time-show {
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}
.timeline .timeline-box {
    background: #fff;
    display: block;
    margin: 15px 0;
    position: relative;
    padding: 20px;
    text-align: left;
}
.timeline .timeline-album {
    margin-top: 12px;
}
.timeline .timeline-album a {
    display: inline-block;
    margin-right: 5px;
}
.timeline .timeline-album img {
    height: 36px;
    width: auto;
    border-radius: 3px;
}
@media (min-width: 768px) {
    .timeline .time-show {
        margin-right: -69px;
        text-align: right;
    }
    .timeline .timeline-box {
        margin-left: 45px;
    }
    .timeline .timeline-icon {
        background: #35b8e0;
        border-radius: 50%;
        display: block;
        height: 20px;
        left: -54px;
        margin-top: -10px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 20px;
    }
    .timeline .timeline-icon i {
        color: #fff;
        font-size: 13px;
        position: absolute;
        left: 4px;
        margin-top: 1px;
    }
    .timeline .timeline-desk {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }
    .timeline-item {
        display: table-row;
    }
    .timeline-item:before {
        content: "";
        display: block;
        width: 50%;
    }
    .timeline-item .timeline-desk .arrow {
        border-bottom: 12px solid transparent;
        border-right: 12px solid #fff !important;
        border-top: 12px solid transparent;
        display: block;
        height: 0;
        left: -12px;
        margin-top: -12px;
        position: absolute;
        top: 50%;
        width: 0;
    }
    .timeline-item.timeline-item-left:after {
        content: "";
        display: block;
        width: 50%;
    }
    .timeline-item.timeline-item-left .timeline-desk .arrow-alt {
        border-bottom: 12px solid transparent;
        border-left: 12px solid #fff !important;
        border-top: 12px solid transparent;
        display: block;
        height: 0;
        left: auto;
        margin-top: -12px;
        position: absolute;
        right: -12px;
        top: 50%;
        width: 0;
    }
    .timeline-item.timeline-item-left .timeline-desk .album {
        float: right;
        margin-top: 20px;
    }
    .timeline-item.timeline-item-left .timeline-desk .album a {
        float: right;
        margin-left: 5px;
    }
    .timeline-item.timeline-item-left .timeline-icon {
        left: auto;
        right: -56px;
    }
    .timeline-item.timeline-item-left:before {
        display: none;
    }
    .timeline-item.timeline-item-left .timeline-box {
        margin-right: 45px;
        margin-left: 0;
        text-align: right;
    }
}
@media (max-width: 767.98px) {
    .timeline .time-show {
        text-align: center;
        position: relative;
    }
    .timeline .timeline-icon {
        display: none;
    }
}
.timeline-sm {
    padding-left: 110px;
}
.timeline-sm .timeline-sm-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 40px;
    border-left: 2px solid #dee2e6;
}
.timeline-sm .timeline-sm-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #188ae2;
}
.timeline-sm .timeline-sm-item .timeline-sm-date {
    position: absolute;
    left: -104px;
}
@media (max-width: 420px) {
    .timeline-sm {
        padding-left: 0;
    }
    .timeline-sm .timeline-sm-date {
        position: relative !important;
        display: block;
        left: 0 !important;
        margin-bottom: 10px;
    }
}
.inbox-leftbar {
    width: 240px;
    float: left;
    padding: 0 20px 20px 10px;
}
.inbox-rightbar {
    margin: -1.5rem 0 -1.5rem 250px;
    border-left: 5px solid #f5f6f8;
    padding: 1.5rem 0 1.5rem 25px;
}
.message-list {
    display: block;
    padding-left: 0;
}
.message-list li {
    position: relative;
    display: block;
    height: 51px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.message-list li a {
    color: #6c757d;
}
.message-list li:hover {
    background: #f1f5f7;
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
}
.message-list li .col-mail {
    float: left;
    position: relative;
}
.message-list li .col-mail-1 {
    width: 320px;
}
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot,
.message-list li .col-mail-1 .star-toggle {
    display: block;
    float: left;
}
.message-list li .col-mail-1 .dot {
    border: 4px solid transparent;
    border-radius: 100px;
    margin: 22px 26px 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
}
.message-list li .col-mail-1 .checkbox-wrapper-mail {
    margin: 15px 10px 0 20px;
}
.message-list li .col-mail-1 .star-toggle {
    margin-top: 18px;
    color: #adb5bd;
    margin-left: 10px;
}
.message-list li .col-mail-1 .title {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 50px;
}
.message-list li .col-mail-2 {
    position: absolute;
    top: 0;
    left: 320px;
    right: 0;
    bottom: 0;
}
.message-list li .col-mail-2 .date,
.message-list li .col-mail-2 .subject {
    position: absolute;
    top: 0;
}
.message-list li .col-mail-2 .subject {
    left: 0;
    right: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.message-list li .col-mail-2 .date {
    right: 0;
    width: 100px;
    padding-left: 10px;
}
.message-list li.active,
.message-list li.mail-selected {
    background: #f1f5f7;
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
}
.message-list li.active,
.message-list li.active:hover {
    -webkit-box-shadow: inset 3px 0 0 #35b8e0;
    box-shadow: inset 3px 0 0 #35b8e0;
}
.message-list li.unread a {
    font-weight: 500;
    color: #374150;
}
.message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 2px #ced4da;
    box-shadow: inset 0 0 0 2px #ced4da;
    border-radius: 3px;
}
.message-list .checkbox-wrapper-mail input {
    opacity: 0;
    cursor: pointer;
}
.message-list .checkbox-wrapper-mail input:checked ~ label {
    opacity: 1;
}
.message-list .checkbox-wrapper-mail label {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    cursor: pointer;
    background: #98a6ad;
    opacity: 0;
    margin-bottom: 0 !important;
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
}
.message-list .checkbox-wrapper-mail label:active {
    background: #87949b;
}
.mail-list a {
    color: #6c757d;
    padding: 7px 10px;
    display: block;
}
.reply-box {
    border: 2px solid #f1f5f7;
}
@media (max-width: 648px) {
    .inbox-leftbar {
        width: 100%;
        float: none;
    }
    .inbox-rightbar {
        margin-left: 0;
        border: 0;
        padding-left: 0;
    }
    .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin-left: 0;
    }
}
@media (max-width: 520px) {
    .inbox-rightbar > .btn-group {
        margin-bottom: 10px;
    }
    .message-list li .col-mail-1 {
        width: 150px;
    }
    .message-list li .col-mail-1 .title {
        left: 80px;
    }
    .message-list li .col-mail-2 {
        left: 160px;
    }
    .message-list li .col-mail-2 .date {
        text-align: right;
        padding-right: 10px;
        padding-left: 20px;
    }
}


.nomargin{margin:0 !important;}
.nopadding{padding:0 !important;}
.noborder{border:0 !important;}
.float{float:left;}
.paddingLR5{padding-left: 5%;padding-right: 5%;}
.ul-leftmenu{background: rgb(238, 238, 238); margin-top:-22%; border-radius: 25px; margin-bottom:5%;}
.uppercase{text-transform: uppercase;}
.nobackground{background: transparent !important;}
.seta-cursos-margin{margin-top: 37% !important;}
.border-radius10{border-radius: 10px !important;}
.border-radius15{border-radius: 15px !important;}
.border-radius20{border-radius: 20px !important;}
/*# sourceMappingURL=app.min.css.map */
