
.textoAula{
  font-size: 1.3em;
}

.totalAulasAssistidas{
  color: #fff;
  font-size: 0.670rem;
  margin-bottom: -13px;
  text-align: center;
  margin-top: -8px;
}

.cardHeader{
  background-color: #188ae2;
  border-top-left-radius: 10px !important;
  border-top-Right-radius: 10px !important;
}
.painelAulas{
  max-height: 34vh; 
  overflow-y: scroll; 
  display: block !important;
}
.pie_progress {
  width: 45px;
  margin: 0px auto;
}
@media all and (max-width: 768px) {
/* .pie_progress {
    width: 18%;
    max-width: 300px;
    margin: 12px auto;
} */
}
.button-collapse-modules {
    color: #fff;
    font-weight: bold;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.my-grid-modulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .my-grid {
        grid-template-columns: 1fr;
    }
    .my-grid-modulo {
        grid-template-columns: repeat(2, 1fr);
    }
}

.estrelas{
  margin-top: 8px;
  /* margin-left: -20px; */
}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 1.2em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.btn-listar-aula{
  margin-top: -8px;
  background-color: #f6f6f4;
  color: #8c8989;
  border-color: #9e9e9e;
  padding: 1px 25px 2px 25px;
}

.iconeBtnAnterior{
  margin-right: 7px;
}
.iconeBtnProximo{
  margin-left: 7px;
}
.iconesAulaModulo{
  font-size: 17px;
  margin-right: 4px;

}
.p-aula{
  margin-top: -15px;
}
.porcPieProgress{
  color: #188ae2; 
  font-size: 26px!important;
  top: 31px!important;
}
.numPieProgress{
  margin-top:19px!important;
  font-size: 12px!important;
  color: #607D8B;
}
.bolNum{
  color: #188ae2;
}

.txtAvalieAulaMoudlo{
    margin-right: -30px;
    margin-left: 10px;
}
.textoMigalhas{
 color: #414d5f;
}
.migalhasCabecalho:hover {
  color:  #188ae2!important;
}