.no-result-header {
  
}

.check-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  
}



h4 {
  font-size: 16px;
}

.result-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.result-box .answers {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.result-box .answers div {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #818182;
  /* border-bottom: 4px solid #333; */
  margin-right: 5px;
  
}

.result-box .answers .hit-question {
  /* background: #d4edda; */
  border: 1px solid #28a745;
  background: #28a745;
  color: #fff;
}

.result-box .answers .bad-question {
  background: #dc3545;
  border-bottom: 1px solid #dc3545;
  /* color: #dc3545; */
  color: #fff;
}

.result-box .answers .correct-question {
  border: 1px solid #5ef781;
  background: #5ef781;
  color: #fff;
}

.left-side {
  border: 1px solid #ddd;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.right-side {
  border: 1px solid #ddd;
  height: 100%;
}

@media screen and (max-width: 860px) {
  .check-result {
    grid-template-columns: 1fr;
  }
}