.simulado-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

.cronometro-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.cronometro-container img {
  height: 20px;
  margin-right: 5px;
}

.cronometro-container .cronometro-right {
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
}

.cronometro-container h4 {
  font-size: 22px;
}

#sessao {
  font-size: 24px;

}

#sessao-modal {
  font-size: 20px;
}

.canvas-container {
  max-height: 70vh;
  max-width: 100vw;
  overflow-y: scroll;
}
.pdf-navbar {
  margin-bottom: 10px;
}

.pdf-navbar button {
  border: 0;
  outline: 0;
}

#desktop-layout {
  display: none;
}

#pdf-viewer {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  /* display: none; */
}

.container-gabarito {
  max-height: 65vh;
  overflow-y: scroll;
}

.section {
  padding: 10px 0;
  border-bottom: 1px solid #064575;
}

.section strong {
  color: #064575;
  margin-bottom: 20px;
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.grid-gabarito {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.selecao_questoes {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.selecao {
  display: flex;
  margin-top: 10px;
}

.selecao label{
  cursor: pointer;
  font-size: 12px;
  color: #064575;
  background: #fff;
  border-radius: 10px;
  padding: 5px; 
  border: 1px solid #064575;

}

.selecao input:checked + label {
  background: #333;
  color: #fff;
  border: 1px solid #333;
} 

.card-gabarito {
  border-bottom: 1px solid #ccc;
  
}
.card-gabarito h4 {
  color: #064575; 
  font-size: 0.9rem;
  margin-left: 14px;
  margin-top: 2%;
}
.card-gabarito strong {
  align-self: flex-start; 
  color: #333; 
  margin-left: 14px;
  
}

.inputs {
  padding: 0 12px;
  margin-top: 4px;
  margin-bottom: 10px;
  
}

.inputs h4 {
  margin-left: 0;
}

.inputfile {
  /* width: 0.1px;
  height: 0.1px; */
  /* opacity: 0; */
  overflow: hidden;
  color: #fff;
}
/* .inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  text-align: center;
} */

.inputfile:focus + label,
.inputfile + label:hover {
  opacity: 0.7;
}


@media screen and (max-width: 1300px) {
  .grid-gabarito {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 990px) {
  .grid-gabarito {
      grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .simulado-grid {
      grid-template-columns: 1fr;
  }
  /* #desktop-layout {
    display: none;
  }
  #pdf-viewer {
    display: initial;
  }
  .canvas-container {
    width: 95vw;
  } */
}