ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
}

div.progress-container {
  display: flex; 
  align-items: center; 
  margin-top: 10px;
}

div.progress-container progress {
  margin-left: 10px;
  margin-bottom: 5px;
  color: #000;
}

.content-section {
  display: flex;
  margin-bottom: 20px;
  /* align-items: center; */
}

.video-player {
  height: 75px;
  width: 75px;
  margin-right: 20px;
}