* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 40px 0;
}

.container-toolbar{
  margin-left: 25%;
  margin-right: 25%;
}

.toolbar {
  background-color: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  height: 42px;
  width: 110%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0% 0% 0% 6%;
  /* text-shadow: 1px 1px 0 #fff; */
  z-index: 10;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
     -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
          box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
}
.toolbar .spacer {
  display: inline-block;
  border-left: 1px solid #c1c1c1;
  height: 34px;
  margin: 0 5px -11px;
}

.toolbar a {
  color: inherit;
  text-decoration: none;
}

.toolbar button {
  background-color: #eaeaea;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 22px;
  padding-top: 2px;
  padding-left: 5px;
  margin: 2px 0px 0px 0px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  position: relative;
  min-width: 27px;
  min-height: 27px;
}
.toolbar button:after {
  content: ' ';
  display: block;
}
.toolbar button.active {
  border-color: #bababa;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
     -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
          box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
}
.toolbar button:hover,
.toolbar button:focus {
  border-color: #bababa;
}

.toolbar button.pen {
  font-size: 22px;
}

.toolbar button.comment {
  font-size: 22px;
  color: #ffd100;
  text-shadow: 0 0 0 #000000;
}

.toolbar button.rectangle:after {
    width: 19px;
    height: 19px;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    left: 4px;
}

.toolbar button.highlight:after {
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
  top: 9px;
  left: 4px;
}

.toolbar button.strikeout:after {
  width: 19px;
  height: 1px;
  background: red;
  position: absolute;
  top: 19px;
  left: 4px;
}

.toolbar button.text:after {
  content: 'T';
  font-family: 'Times New Roman';
}

.color {
  display: inline-block;
  margin-top: -4px;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  vertical-align: middle;
}
.color-selected {
  border: 3px solid #666;
  width: 30px;
  height: 30px;
  margin-top: -1px;
  margin-left: -2px;
  margin-right: -2px;
}
.text-color, .pen-color {
  display: inline-block;
}
