/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
	.switcher-container { top: 120px; }
	.grid-metro .post .content-post {padding: 0px 15px;}
	.header-navleft2 #mainnav > ul, .header-navleft #mainnav > ul, .header-navleft.navleft-style2 #mainnav > ul {  padding-left: 0px; }

	.top-search, .header-addinfo.header-style2 .top-search { width: 100%; right: 0;  }
	.top-search .form-search input { height: 119px; }
	.header.downscrolled .top-search .form-search input { height: 112px; }
	.header-style2 .top-search { width: 108%; right: -47px; }
	.header-navhead.header.downscrolled .top-search .form-search input { height: 63px; }
	.header.downscrolled.header-addsocial .top-search .form-search input { height: 119px; }
	
	.header-style2.header-btn .top-search { right: -137px; }
	.header-reponsive.header-btn .nav-flat-wrap { width: 63%; }
	.header-reponsive.header-btn .btn-menu.active ~ .nav-flat-wrap { right: 17%; }

	.section-slider3 .btn-filter-wrap { margin: 95px 0px 5px 26px; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-prev { right: 102%; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-next { right: -8%; }

	.home-port-full .portfolio-item { float: left; width: 31%; }
	

	.header-btn .nav-flat-wrap { right: 16%; }
	.headernav-show.header-btn .nav-flat-wrap { width: 56%; }
	.headernav-show #mainnav .submenu.mega-menu.left-style2 { left: -778px;}
	.headerstyle-nav #mainnav .submenu.mega-menu { left: -465px; }
	#mainnav .submenu.mega-menu.left-style2 { left: -420%; }
	#mainnav .submenu.mega-menu { left: -300%; }
	.wrap-home-video2 #mainnav .submenu.mega-menu.left-style2 { left: -530%; }
	.wrap-home-video2 #mainnav .submenu.mega-menu { left: -345%; }
	.wrap-home-video2 .header-style2 .top-search .form-search input { height: 120px; }
	.wrap-home-video2 #mainnav .submenu { left: 0; }

	#mainnav .submenu.mega-menu.style-basic { left: -310%; }
	#mainnav .submenu.mega-menu.left-style2.style-basic { left: -440%; }
	
	#mainnav > ul > li > a, .nav-footer > ul > li > a { margin: 0 25px 0 25px; }
	.headerstyle-nav.header-style5 #mainnav .submenu.mega-menu { left: -850px; }
	.header-addsocial .wrap-social { width: 18%; }
	.header-addsocial .nav-flat-wrap { width: 55%; }
	.header-addsocial #mainnav > ul { text-align: left; }
	.header-addsocial #mainnav > ul > li > a { padding: 46px 0px 46px;  margin: 0 20px 0 20px; }
	.header-addsocial #mainnav > ul > li:first-child > a {  margin-left: 0;}
	.header-addsocial .shopping-cart:hover .subcart,.header-addsocial #mainnav ul li:hover > .submenu, .background-violet .shopping-cart:hover .subcart, .background-violet #mainnav ul li:hover > .submenu { top: 100%; }
	.header-addsocial #mainnav > ul > li:hover > a:after, .header-addsocial #mainnav > ul > li.home > a:after { bottom: 40px; }
	
	.header-addtop #mainnav .submenu.mega-menu { left: -4%;}
	.header-addtop #mainnav .submenu.mega-menu.left-style2 { left: -256%; }
	#mainnav .submenu .list-sub.list-sub-right2:hover > a::after { content: "\f104"; }
	#mainnav .right-sub-menu2 { left: -310px!important; right: 0;}

	.background-violet .nav-flat-wrap { padding-left: 0px; width: 69.2%;}
	.background-violet .wrap-menu-extra { width: 12.8%; }
	.background-violet .logo-wrap { width: 18%; }
	.background-violet #mainnav > ul > li > a { padding: 53px 0px 39px; }
	.background-violet #mainnav > ul > li:hover > a:after, .background-violet #mainnav > ul > li.home > a:after { bottom: 31px; }
	
	.header-reponsive2.header-addtop #mainnav .submenu.mega-menu { left: -225%; }
	.header-reponsive2.header-addtop #mainnav .submenu.mega-menu.left-style2 { left: -400%;}
	.header-style2.header-addinfo.downscrolled .top-search .form-search input { height: 140px; }

	.header-addinfo #mainnav .submenu.mega-menu { left: -330%;}
	.header-addinfo #mainnav .submenu.mega-menu.left-style2 { left: -555%;}

	.flat-teammember-full .teammember:hover .content {
	    -webkit-transform: translateY(-100%);
	       -moz-transform: translateY(-100%);
	    	-ms-transform: translateY(-100%);
	    	 -o-transform: translateY(-100%);
	    		transform: translateY(-100%);
	}

	.gallery-item:hover .gallery-link a {
	    -webkit-transform: translateY(95px);
	       -moz-transform: translateY(95px);
	    	-ms-transform: translateY(95px);
	    	 -o-transform: translateY(95px);
	    		transform: translateY(95px);
	}

	.style-post-agency .blog_column_metro.grid-metro .post:hover .content-post::before {
	    left: 15px;
	    top: 15px;
	    width: calc(100% - 30px);
	    width: -webkit-calc(100% - 30px);
	    width: -moz-calc(100% - 30px);
	    width: -o-calc(100% - 30px);
	    height: calc(100% - 30px);
	    height: -webkit-calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    height: -o-calc(100% - 30px);
	}

	.testimonial-second { padding: 1.7% 3.9% 1% 4%; }
	.home-agency-s4 .testimonial-second { padding: 1.7% 3.9% 0.75% 4%; }
	/* Home Iconboxes*/
	.iconbox .box-content { padding: 86px 30px 20px; }
    .wrap-our-work .our-work-title { padding: 2% 1% 2.25% 1.9%; }
    .blog-metro-section.grid-metro .post .content-post { padding: 0px 10px; }

	/* Footer */
	.footer-second1 { padding: 6.3% 0px 4.2% 19.28%; }
	.footer-second2 { padding: 6.8% 11.2% 6.15% 11.36%; }
	.home-minimal-agency-footer .footer-third1 { padding: 6.7% 9.7% 7.3% 7.15%; }
	.footer-style .wrap-footer .nav-wrap, .home-minimal-agency-footer.footer-style .wrap-footer .nav-wrap { padding-left: 0px;}
	.footer-style .wrap-footer .mainnav > ul > li > a { margin: 0px 16.5px; }
	.footer-style5.footer-style .wrap-footer .nav-wrap { padding-left: 60px; }
	.footer-style7.footer-style .wrap-footer .nav-wrap, .footer-style9.footer-style .wrap-footer .nav-wrap { padding-left: 0px; }
	.footer-after-before::before { height: 66px; transform: rotate(4.7deg) translateX(47px) translateY(-40px); }
	.footer-after-before::after { height: 65px; transform: rotate(-4.7deg) translateX(-45px) translateY(-40px); }

	.go-top3 { bottom: 115px; }
	/* home consulting
	---------------------------------------------------------*/
	.img-arrow { left: 40.7%; }
	.blog_carousel_metro.grid-metro .post .content-post { padding: 10px 10px 10px 20px; }
	.blog_carousel_metro .post h2.title-post { font-size: 22px; }
	.blog_carousel_metro.grid-metro .post .content-post::after { right: 15px; top: 31px; }
	.blog_carousel_metro.grid-metro .post:hover .content-post::after { right: 5px; }
	.blog_carousel_metro.owl-theme.owl-theme .owl-controls .owl-nav div.owl-next { right: 6.5%; }
	.blog_carousel_metro.owl-theme .owl-controls .owl-nav div.owl-prev { right: 9.5%; }
	.padding-iconbox1 { padding: 17.5% 6% 12.2% 4%; }
	.hide-reponsive { display: none; }
	.video-iconbox .flat-video a:after { margin-right: 0; }
	footer.home-business { padding: 100px 0 50px; }

	.tp-leftarrow { left: -40px !important; }
	.tp-rightarrow { left: 102%!important; }
	.tparrows-shop .tp-leftarrow { left: 0 !important; }
	.tparrows-shop .tp-rightarrow { left: 100%!important; }
	.wrap-timeline .slick-next { right: -66px; }
	.wrap-timeline .slick-prev { left: -60px; }

	.wrap-filter-blog { margin-right: 20px; }
	.home-comming .wrap-countdown { padding: 0; }
	.page-about-section.section-whychoose .content-whyus { padding: 2% 3% 2% 2%; }
	.page-about-section.section-whychoose .divider.h51 { height: 0px; }
	.section-whychoose .content-whyus { padding: 1.5% 2% 1.7% 3.9%; }
	.section-whychoose .divider.h60 { height: 20px; }
	
	.flat-iconboxes.style2 .iconbox .box-content { padding: 60px 35px 60px 40px; }
	.flat-iconboxes.style2 .iconbox.style2 .step { bottom: 66%; }
	.planding-isotope .plan-item{ float: left; width: 33.33%; }
	.tf-gallery #tf-slider .flat-video a:after { margin-top: -9px; margin-right: 5px; }
	.wrap-home-video2 .header-reponsive.header-btn .btn-menu.active ~ .nav-flat-wrap { right: 10%; }
	.wrap-home-video2 .header-reponsive.header-btn .nav-flat-wrap { width: 74%; }
	.wrap-home-video2 .header-style2.header-btn .top-search {right: -93px; }
	.wrap-home-video2 .header-btn .wrap-menu-extra { right: 46px; }
	.wrap-home-video2 #mainnav > ul > li > a { margin: 0 20px 0 20px; }
	.wrap-home-video2 .tf-gallery #tf-carousel .slides li .info-video { padding: 0px 0px 22px 10px; }
	.wrap-home-video2 .tf-gallery #tf-carousel .slides li .info-video h5 { font-size: 14px; }
	.wrap-blog-isotope .flat-blog-isotope .post-item { float: left; width: 33.33%; }
	.wrap-filter-blog .title-section.font-oswald .title { margin-bottom: 40px; }
	.wrap-filter-blog ul.portfolio-filter > li { line-height: 72px; }
	.tparrows-paddingleft37 .tparrows.tp-rightarrow { padding-left: 15px; }

}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.wrap-menu-extra { width: 13.8%; }
	.nav-flat-wrap { width: 66.2%; }
	#mainnav .submenu.mega-menu { width: 1120px; }
	#mainnav .submenu { left: 0; }
	.header-addsocial .logo-wrap { width: 12%; }
	.header-addsocial .wrap-menu-extra { width: 10%; }
	.header-addsocial .wrap-social { width: 19%; }
	.header-addsocial .nav-flat-wrap { width: 59%; }
	.header-addsocial #mainnav .submenu.mega-menu { left: -180%; }
	.header-addsocial #mainnav .submenu.mega-menu.left-style2 { left: -376%; }
	.header-addsocial .menu-extra.extra-line::before { left: 18%; }

	.divider.h51 { height: 0; }
	.element-iconboxes3 .divider.h51 { height: 30px; }
	.section-whychoose .section-onehalf {float: none;width: 100%;}
	.section-whychoose .section-onehalf img { width: 100%; }
	.header-style2 .top-search { right: -44px; }
	.padding-iconbox1 { padding: 13.7% 6% 12.7% 4%; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 54.5%; }
	.footer-style5.footer-style .wrap-footer .nav-wrap { padding-left: 0; }
	.home-construction-s2 .padding-iconbox1 { padding: 11.9% 10% 6.2% 11.1%; }
	.style-nav-another .owl-theme .owl-controls .owl-nav div.owl-next { right: -2.5%; }
	.style-nav-another .owl-theme .owl-controls .owl-nav div.owl-prev { right: 99.5%; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-prev { right: 100%; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-next { right: -4%; }
	.wrap-timeline .slick-prev { left: -10px; }
	.wrap-timeline .slick-next { right: -3px; }
	.page-about-section .video-iconbox .flat-video a:after { margin-right: -12px; }
	
	.header-style2.header-btn .top-search { right: -134px; }
	.wrap-home-video2 .header-reponsive.header-btn .nav-flat-wrap { width: 78%; }
	.wrap-home-video2 .header-style2.header-btn .top-search { right: -86px; }
	.wrap-home-video2 #mainnav .submenu { left: -15px; }
	.wrap-home-video2  .tf-gallery #tf-carousel { padding: 6.4% 2% 1% 1%; }
	.wrap-home-video2 .tf-gallery #tf-slider .flat-video a:after { top: 62.5%; margin-right: -12px; }
	.home-port-full .portfolio-item { width: 30%; }

}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	.container-fluid.container-paddingtop { padding: 1.48%; }
	.wrap-menu-extra { width: 10%; }
	.nav-flat-wrap, .header-addtop .nav-flat-wrap { width: 70%; }
	.downscrolled .top-search .form-search input { height: 111px; }
	
	#mainnav .submenu.mega-menu { width: 900px; }
	#mainnav > ul, .nav-footer > ul { text-align: left; }
	#mainnav .right-sub-menu3 { left: auto; right: 0; }
	#mainnav > ul > li > a, .nav-footer > ul > li > a { margin: 0px 15px; }
	.sidebar { margin-left: 0; }
	.header-style2 .top-search { right: -35px;}
	.header-style2.header-btn .top-search { right: -125px; }
	.top-header .logo-wrap { width: 14%; }
	.top-header .wrap-social { width: 20%; }
	.top-header .header-widget { width: 60%; }
	.header-addtop .wrap-menu-extra { width: 25%; }
	.header-addtop.addtop2 .wrap-menu-extra { width: 15%; }
	.widgets-header-information { padding-left: 20px; }
	.header-addinfo .nav-flat-wrap { width: 72%; padding: 39px 10px 0px 0px; }
	.header-addinfo .logo-wrap { width: 15%; }
	.header-addinfo .wrap-menu-extra { width: 13%; }
	.header-addinfo #mainnav .submenu.mega-menu.left-style2 { left: -490%; }
	.header-addinfo #mainnav .submenu.mega-menu { left: -190%; }
	.header-addinfo .menu-extra.extra-line::before { left: 13%;}
	#mainnav .submenu.mega-menu { left: -240%; }
	#mainnav .submenu.mega-menu.left-style2 { left: -400%; }

	.headerstyle-nav.header-style5 #mainnav .submenu.mega-menu { left: -200px; }
	.header-addsocial .wrap-menu-extra { width: 30%; }
	.header-addsocial .wrap-social { width: 30%; }
	.header-addsocial #mainnav > ul { text-align: center; }
	.header-addsocial .logo { margin: 30px 0 0 0; }
	.header-addsocial .margin-top-45 { margin-top: 30px; }
	.header-addsocial .menu-extra > ul > li:last-child > a { padding: 30px 11px 20px;}
	.header-addsocial .menu-extra > ul > li > a { padding: 30px 11px 20px; }
	.header-addsocial .menu-extra.extra-line::before { top: 20px; }
	.header-addsocial .menu-extra > ul > li > a > span { top: 16px; }
	.header-addsocial #mainnav > ul > li > a { padding: 20px 0px 30px; }
	.header-addsocial #mainnav > ul > li:hover > a:after, .header-addsocial #mainnav > ul > li.home > a:after { bottom: 27px; }
	.header-addsocial .top-search .form-search input { height: 154px; }
	.header-addsocial #mainnav .submenu.mega-menu { left: -154%; }
	.header-addsocial #mainnav .submenu.mega-menu.left-style2 { left: -350%; }
	.headerstyle-nav #mainnav .submenu.mega-menu { left: -370px; }
	.headernav-show #mainnav .submenu.mega-menu.left-style2 { left: -640px; }
	.header-btn.header-reponsive #mainnav .submenu.mega-menu {left: -190%; }
	.header-btn.header-reponsive #mainnav .submenu.mega-menu.left-style2 { left: -390px; }
	.header-reponsive.header-btn .btn-menu.active ~ .nav-flat-wrap { right: 16%; }

	.background-violet .logo-wrap { width: 16%; }
	.background-violet .nav-flat-wrap { padding-left: 0px; width: 71.2%; }
	.background-violet .wrap-menu-extra { width: 12.8%; }
	
	footer { padding: 50px 0px; }
	.wrap-footer .nav-wrap { width: 56%; }
	.wrap-footer .nav-footer > ul > li:first-child > a { margin-left: 0; }
	.wrap-footer .nav-footer > ul > li > a {  margin: 0px 20px; }
	.wrap-footer .flat-socials { width: 24%; }

	.footer-second1 { padding: 6.3% 0px 4.2% 10%; }
	.footer-third1 { padding: 9.64% 6.5% 6% 5.6%; }
	.footer-night { padding: 8% 5%; }

	.style-header-footer .wrap-footer { padding: 3% 2% 3% 2%; }
	.style-header-footer .wrap-footer .logo-footer { width: 16%; }
	.style-header-footer .wrap-footer .nav-wrap { width: 61%; }
	.style-header-footer.footer-style .wrap-footer .mainnav > ul > li > a { margin: 0px 8.5px; }
	.style-header-footer .wrap-footer .flat-socials { width: 23%; }

	.footer-style5.footer-style .wrap-footer .nav-wrap { padding-left: 0; }
	.footer-style7.style-header-footer .wrap-footer, .footer-style9.style-header-footer .wrap-footer { padding: 3.45% 3% 2.95% 3%; }
	.wrap-our-work .section-one-fourth { width: 33.33%; }
	.wrap-our-work .our-work-title { padding: 3% 1% 2.35% 1.9%; }
	.footer-second2 { padding: 6.8% 6.2% 5.15% 5.36%; }
	.home-minimal-agency-footer.style-header-footer .wrap-footer { padding: 3.5% 3% 3% 2%; }

	.blog-metro-section .flat-button { margin-bottom: 5px; }
	.lineyear:after,  .section .list-step li::before, .section .list-step li::after, .section .list-step li i::after { content: none; }
	.tparrows { display: none!important; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 55%; }
	.header-reponsive.header-btn .nav-flat-wrap { width: 68%; }

	.grid-four.gird-sidebar .post h2.title-post { font-size: 16px; line-height: 20px; }

	.wrap-portfolio .portfolio-item .portfolio-thumbnail img, .wrap-portfolio .portfolio-item.reponsive-width100, .flat-video a img, .section-whychoose .section-onehalf img, .teammember .avatar img,
	.page-contact-classic .col-md-4, .page-contact-classic .col-md-8, .featured-testimonials img, .home-creative-freelancer-s2 .flat-blog-isotope .post-item img, .home-construction-s3.style-post-agency .flat-blog-isotope .post-item img, .home-interior-design-s2 .flat-blog-isotope .post-item img, .header-addsocial .nav-flat-wrap, li.filter-item .post .featured-post img, li.item-filter .post .featured-post img {
		width: 100%;
	}

	.wrap-portfolio .portfolio-item.reponsive-width50, .flat-our-team .teammember, .home-construction-s3.style-post-agency .flat-blog-isotope .post-item, .home-interior-design-s2 .flat-blog-isotope .post-item {
		width: 50%;
	}

	.wrap-blog-isotope .flat-blog-isotope .post-item {
	    width: 50%;
	    float: left;
	}

	.wrap-portfolio .portfolio-item {
		float: left;
		width: 45%;
	}

	.product-fluid .product .product-item { width: 25%; }
	.portfolio-item .portfolio-info .portfolio-title { font-size: 24px; line-height: 30px; }
	.portfolio-classic .wrap-portfolio .portfolio-item, .wrap-scrollleft .wrap-portfolio .portfolio-item, .portfolio-single .wrap-portfolio .portfolio-item,
	.wrap-portfolio .flat-portfolio2 .portfolio-item, #section_video .section-onehalf, .home-agency-s4 .section-onehalf, .section-whychoose .section-onehalf, #blance-testimonial2, #blance-testimonial1 {
		width: 100%;
		float: none;
	}

	.wrap-blog-isotope { width: 74%; }

	.reponsive-action .btn-action {
	    float: left;
	    text-align: center;
	    margin-top: 20px;
	    width: 100%;
	}

	.title-section.line.line-center .title::after { left: 34%; }
	.info-aboutus2 .title-section.line .title::after { left: 59.5%; }

	.padding-contact { padding: 0; }
	.wrapcount-pd-200 { padding: 0 50px; }
	.wrap-scrollleft.padding2, .portfolio-single .wrap-scrollleft.padding2 {
	    padding: 20px 0px 0px 20px;
	}

	ul.related-portfolio .relatedpd1 { padding: 119px 0px 102px; }
	.flat-button.button-color { padding: 18px 37px 17px 37px; }
	.flat-button.button-gradient { padding: 18px 23px 17px 23px; }

	.section-portfolio ul.portfolio-filter > li:first-child, .section-portfolio .btn-filter-wrap > li:first-child {
	    padding: 0 30px 0px 0px!important;
	}

	.page-services-s1 .flat-phone { padding: 13px 0px 0px 0px; }
	.page-services-s1.section-call-now .info-text { padding-left: 0;}
	.page-contact-classic .contact-form-center { margin-top: 50px;}
	.margin-left-58 { margin-left: 0;}
	.flat-video-studio .flat-video a:before { margin-right: 0;}
	.home-construction-s2 .video-iconbox .flat-video a:after { margin-right: -14px;}

	.site-headerbar ul.portfolio-filter.style2 { text-align: center;}
	.section-portfolio ul.portfolio-filter > li, .section-portfolio ul.portfolio-filter > li.active, .section-portfolio .btn-filter-wrap > li, .section-portfolio .btn-filter-wrap > li.active, .section-portfolio ul.portfolio-filter > li:nth-child(4), .section-portfolio .btn-filter-wrap > li:nth-child(4), 
	.section-portfolio ul.portfolio-filter > li:nth-child(5), .section-portfolio .btn-filter-wrap > li:nth-child(5) {
	    padding: 0 30px;
	}

	ul.portfolio-filter.style2 > li span { right: 20px;}
	.wrap-timeline .slick-prev { left: 0;}
	.wrap-timeline .slick-next { right: 0;}

	/*  Page */
	.planding-isotope .plan-item { padding: 0px 15px;}
	.page-about-section.section-whychoose .content-whyus { padding: 4% 4% 3%;}
	.padding-iconbox1 { padding: 5.5% 6% 11.6% 4%;}
	.padding-iconbox2 { padding: 6.3% 6% 4.7% 5.2%; }
	.padding-iconbox1 .iconbox { margin-bottom: 30px; }

	.video-iconbox .flat-video a:after { margin-right: 4px; }
	.flat-video-finance.video-iconbox .flat-video a:before { right: 45.3%; }
	.padding-left-100 { padding-left: 50px; }
	.content-whyus .divider.h51 { height: 0; }
	.testimonials.style4::before { left: 78%; }

	.blog_carousel_metro.owl-theme .owl-controls .owl-nav div.owl-prev { right: 7.5%; }
	.blog_carousel_metro.owl-theme.owl-theme .owl-controls .owl-nav div.owl-next { right: 3.5%; }
	.section-portfolio ul.portfolio-filter > li span { right: 21px; }

	.flat-teammember-circle.style4 .teammember .info-overlay { padding-top: 103%;}

	.flat-teammember-full .teammember:hover .content {
	    -webkit-transform: translateY(-160%);
	    -moz-transform: translateY(-160%);
	    -ms-transform: translateY(-160%);
	    -o-transform: translateY(-160%);
	    transform: translateY(-160%);
	}

	.iconbox:hover .overlay, .flat-portfolio .portfolio-item:hover .portfolio-info {
	    left: 15px;
	    top: 15px;
	    width: calc(100% - 30px);
	    width: -webkit-calc(100% - 30px);
	    width: -moz-calc(100% - 30px);
	    width: -o-calc(100% - 30px);
	    height: calc(100% - 30px);
	    height: -webkit-calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    height: -o-calc(100% - 30px);
	}

	.flat-teammember-circle .teammember .info-overlay {
	    padding-top: 113.5%;
	}

	.iconbox.style2 .box-content { padding: 40px 15px 22px 20px; }
	.iconbox.style2 .box-content .name {
	    font-size: 43px;
	    line-height: 55px;
	}


	.home-comming .comming-box { padding: 50px 20px; margin: 0 3.8%; }

	.countdown.style2 .square { width: 200px; height: 200px; padding-top: 25px; }
	.countdown.style3 .square, .countdown.style3 .square:nth-child(2), .countdown.style3 .square:nth-child(3), .countdown.style3 .square:nth-child(4) { padding-left: 0; margin-right: 0; }
	.iconbox .box-content { padding: 37px 20px 20px; }

	.link-gallery a, .link-gallery a:nth-child(3), .link-gallery a:nth-child(4), .link-gallery a:nth-child(5), .link-gallery a:nth-child(6) { margin-right: 30px; }

	.gallery-item:hover .gallery-link a {
	    -webkit-transform: translateY(114px);
	    -moz-transform: translateY(114px);
	    -ms-transform: translateY(114px);
	    -o-transform: translateY(114px);
	    transform: translateY(114px);
	}

	.tf-gallery #tf-slider .flat-video a:after { margin-top: -4px; margin-right: 8px; }

	.wrap-blog-isotope2 ul.portfolio-filter { margin: -5px 0px 0px 0px; }
	ul.portfolio-filter.style4 li:first-child, ul.portfolio-filter.style3 > li:first-child { padding: 0 15px 0px 0px; }
	ul.portfolio-filter.style4 li, ul.portfolio-filter.style3 > li { padding: 0 15px; }

	.aboutus-viewall::before { left: 20.65%;}
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 55.5%; }
	.footer-after-before::before { height: 70px; transform: rotate(3.7deg) translateX(47px) translateY(-54px); }
	.footer-after-before::after { height: 70px; transform: rotate(-3.7deg) translateX(-45px) translateY(-54px); }
	.home-business-s9 .footer-four1 { padding: 5.85% 1% 8.45% 6.75%; }
	.home-business-s9 .footer-four2 { padding: 5.85% 1% 8.45% 8.35%; }

	.flat-phone { padding: 13px 0px 0px 0; }
	.flat-iconboxes.style2 .iconbox .box-content { padding: 58px 20px 40px 30px; }
	.style-nav-another .owl-theme .owl-controls .owl-nav div.owl-prev { right: 99.7%; }
	.style-nav-another .owl-theme .owl-controls .owl-nav div.owl-next { right: -3.2%; }
	.section-slider3 .btn-filter-wrap { margin: 96px 0px 5px 26px; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-prev { right: 99%; }
	.wrap-blog-filter .owl-theme .owl-controls .owl-nav div.owl-next { right: -5%; }
	.home-creative-freelancer-s2 .flat-blog-isotope .post-item { float: left; width: 33.333%; margin: 0px 0px 30px; }

	.wrap-home-video2 { float: none; width: 100%; }
	.wrap-home-video2 .tf-gallery #tf-carousel {
	    left: 0;
	    background-color: #000;
	    bottom: 12%;
	    top: auto;
	    padding: 0;
	    width: 25%;
	}

	.wrap-home-video2 .content { height: 465px; }
	.time_circles > div { top: 30%!important; }
	.time_circles > div > span { font-size: 35px!important; line-height: 35px; }


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	.downscrolled.header-classic .menu-extra > ul > li:last-child > a { padding: 25px 0px 25px 12px; }
	.downscrolled.header-classic .menu-extra > ul > li > a > span { top: 12px; }
	.downscrolled.header-classic .menu-extra > ul > li > a { padding: 25px 11px 25px; }
	.header.downscrolled.header-classic .logo { margin: 22px 0 0 0; }
	.background-violet .logo-wrap { width: 42%; }
	.background-violet .wrap-menu-extra { width: 47.8%; }
	.switcher-container { top: 135px; }

	.title-section .title, h1.title-testimonial, .title-call-action.another, .title-footer8, .footer-style8 .info-contact .phone, .footer-style10 .title-footer10 {
	    font-size: 43px;
	    line-height: 55px;
	}

	.footer-style8 .info-contact .email {font-size: 24px;}
	.infobox ul li { font-size: 14px; line-height: 26px; }

	.hide-reponsive { display: block; }

	.flat-row.v1, .flat-row.v2, .flat-row.v3, .flat-row.v4, .flat-row.v5, .flat-row.v6, .flat-row.v7, .flat-row.v8, .flat-row.v9, .flat-row.v10, .flat-row.element-testimonials5, .flat-row.section-shop, .flat-row.section-portfolio, .flat-row.page-aboutme-s1, .page-aboutus-s1.home-business.call-action.style2, .flat-row.home-business-s5, .flat-row.section_carousel_metro2, .flat-row.page-aboutus-s3, .flat-row.element-testimonials4,  .flat-row.element-counter, .page-services-s1.flat-row.section-call-now, .flat-row.element-iconboxes3, .page-services-s3.flat-row, .page-services-s4.call-action.style2, .page-services-single.page-services-s4.call-action.style2,
	.page-services-img4.page-services-s4.call-action.style2, .flat-row.page-contact-classic, .flat-row.page-contact-minimal, .flat-row.page-contact-creative1, .flat-row.page-contact-creative2, .flat-row.page-faq, .flat-row.page-error, .flat-row.footer-nav, .flat-row.home-creative-agency-s4, .footer-five, .footer-ten, .flat-row.v8, .flat-row.element-countdown, .flat-row.home-basic-agency-s3, .flat-row.element-countdown2, .call-action, .flat-row.element-testimonials,.flat-row.element-tab, .flat-row.element-testimonials2, .flat-row.element-testimonials3, .call-action.style2, .flat-row.element-processbar, .flat-row.element-spricing, .flat-row.element-iconboxes, .flat-row.element-iconboxes2,
	.flat-row.section-portfolio.home-photography, .flat-row.bottom-none, .flat-row.section-shop-s2, footer.footer.home-shop, .flat-row.home-magazine-masonry-timeline, .flat-row.home-creative-freelancer-s1, .flat-row.home-creative-freelancer-s2, .flat-row.section_carousel_post2, .flat-row.section-agency-1, .flat-row.home-agency-s2, .flat-row.home-agency-s5, .call-action.style2.home-agency-s6, .flat-row.section-our-services, .flat-row.section_carousel_post4, .flat-row.element-counter2, .flat-row.section_carousel_post, footer.home-business, .home-business.call-action.style2,
	.page-footer.footer-style6 .footer-five, .flat-row.element-counter3,.flat-row.home-interior-design-s3, .flat-row.plan-iconbox, .flat-row.plan-purchase, .flat-row.bg-planding, .home-architecture-s4.call-action.style2, .flat-row.home-architecture-s1.section-call-now, .flat-row.home-lawfirm-s7, .flat-row.home-interior-design-s4, .flat-row.home-interior-design-s5, .flat-row.home-business-s3, .flat-row.home-bright-acgency-s2, .flat-row.home-minimal-agency-s6, .flat-row.home-minimal-agency-s4, .flat-row.home-basic-agency-s1, .flat-row.home-minimal-agency-s2, .flat-row.home-minimal-agency-s3, .flat-row.home-minimal-agency-s1, .flat-row.home-basic-agency-s2, .flat-row.home-bright-acgency-s5, .flat-row.home-lawfirm-s5, .flat-row.home-creative-agency-s2, .flat-row.home-creative-agency-s3, .flat-row.home-bright-acgency-s1, .flat-row.home-creative-agency-s5, .call-action.style2.home-creative-agency-s6, .flat-row.home-business-s4, .call-action.style2.home-business-s7, .flat-row.section-call-now, .flat-row.section_carousel_post3, .flat-row.home-simple-s3, .flat-row.element-team2 {
	    padding: 50px 0px 50px;
	}

	.blog_column_metro.grid-metro .post .content-post { padding: 32.2% 0 0 }

	.flat-row.element-testimonials.reponsive-top0, .footer-style6 .footer-five, .flat-row.home-creative-freelancer-s3, .flat-row.home-creative-agency-s1 { padding: 0px 0px 50px; }
	.flat-row.page-services-img2 { padding: 50px 0px 0px; }
	.padding-bottom-100 { padding-bottom: 50px; }
	.flat-row.site-headerbar.section-portfolio { padding-top: 30px; }
	.flat-row.home-photography-sidebar { padding: 30px 0px 50px; }
	.aboutus-viewall { padding: 30px 0px 30px; }
	.flat-row.home-lightbox-footer { padding: 50px 0px 20px; }
	.contact-minimal, .padding-top-153 { padding-top: 0px; }

	.plan-iconbox .iconbox.style3 { padding: 39px 5px 36px; }
	.padding-top-102 { padding-top: 30px; }
	.wrap-process .padding-left-117 { padding-left: 25px; }
	.padding-right-footer, .padding-right-93 { padding-right: 0; }
	.padding-left-footer { padding-left: 0; }

	.wrapcount-pd-200 { padding: 0; }

	.padding-left-78, .padding-left-80, .padding-left-76, .padding-left-45, .padding-left-100 { padding-left: 0; }

	.comment-respond .comment-notes, .comment-respond .comment-form-email, .comment-respond .comment-notes, .comment-respond .comment-form-email, .mail-chimp input[type="email"], .page-single .page-content, .page-single .page-sidebar, .comment-respond .comment-form-url, .wrap-footer .nav-wrap, .wrap-footer .logo-footer, .wrap-footer .flat-socials, .section-onehalf, .width50, .width55, .grid-four.gird-sidebar article.post img, .blog-carousel-blog .grid-four.gird-sidebar article.post, .product .product-item .product-thumnail img,
	.one-half, .one-third, .one-fourth, .two-third, .one-fourth, .three-fourth, .wrap-portfolio .portfolio-item.reponsive-width50, .contactform2.style3 .contact-input, .style-header-footer .wrap-footer .logo-footer, .style-header-footer .wrap-footer .nav-wrap, .style-header-footer .wrap-footer .flat-socials,
	.home-bright-acgency-s4 .wrap-our-work .section-one-fourth, .home-bright-acgency-s4 .wrap-our-work .section-one-fourth .post img , .flat-iconboxes .featured-iconbox img, .flat-accordion .toggle-title.active:after, .home-business-s3 img, .flat-blog-isotope .post-item img, .featured-testimonials img, .blog_carousel_post.style2 .post .featured-post img, .wrap-process .featured-process img, .featured-choose img, ul.featured-team li img, .wrap-iconbox-shop .iconbox, .portfolio-shop img, .featured-aboutus img, .wrap-filter-blog, .wrap-blog-isotope  {
		width: 100%;
	}

	.grid-three.gird-sidebar article.post, .grid-four.gird-sidebar article.post, .product-fluid .product .product-item, .product-threecolumn .product .product-item, 
	.product-fourcolumn .product .product-item, .planding-isotope .plan-item, .home-architecture-s2 .flat-portfolio .portfolio-item,  .header-addinfo .wrap-menu-extra, .wrap-our-work .section-one-fourth, .wrap-blog-section .section-one-fourth, .home-interior-design-s2 .flat-blog-isotope .post-item {
	    width: 50%;
	}

	.section-reponsive, .footer-reponsive, .flat-iconboxes.style2, .home-creative-freelancer-s2 .flat-blog-isotope .post-item {
		float: left;
		width: 50%;
	}

	.footer-reponsive100 { float: left; width: 100%; }


	.flat-iconboxes {
		float: none;
		width: 100%;
	}

	.page-element-button .one-fourth {
	    width: 25%;
	}

	.page-element-button .text-right, .page-element-button .text-left, .page-element-button .flat-column, .filte-shop ul.flat-filter-search {
		text-align: center;
	}

	.flat-accordion .toggle-title.active:after { left: 0; }

	.one-six {
	    width: 33.33%;
	}

	.info-aboutus2 .title-section.line .title::after { left: 79%; }
	.title-section.line.line-center .title::after { left: 28%; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 57.5%; }
	.go-top3 { bottom: 192px; line-height: 35px;}

	.wrap-footer .logo-footer, .wrap-footer .flat-socials, .wrap-footer .nav-wrap .nav-footer > ul, .blog-timeline .post .featured-post, ul.related-portfolio, .related-portfolio li,
	.portfolio-single .wrap-portfolio .portfolio-item .portfolio-thumbnail, .btn-download, .featured-about, .footer-style8, .flat-counter.style2, .call-action  {
	    text-align: center;
	}

	.top { box-shadow: none; }
	.header-btn .wrap-menu-extra, .top-header .header-widget, .header-addinfo .nav-flat-wrap {  display: none; } 

	.header-addtop .logo-wrap { float: left; width: auto; }
	.header-addtop .wrap-menu-extra.float-left { float: right; }
	.header-addtop .nav-flat-wrap { width: 0; }
	.header-addtop .menu-extra > ul > li:last-child > a { padding: 25px 0px 25px 0px; }
	.header-addtop .menu-extra > ul > li > a > span { left: 7px; top: 12px; }

	#mainnav-mobi .mega-menu ul, .btn-submenu.active ~ .submenu.mega-menu, .mainnav.nav-footer { display: block !important; }
	.header-absolute ~ #mainnav-mobi { top: 80px; }
	.header-absolute.header-addtop.header-navhead ~ #mainnav-mobi { top: 156px; }
	.header-absolute.header-addinfo ~ #mainnav-mobi { top: 99px; }
	.header.header-style2 .logo, .header.header-style2.downscrolled .logo, .header-design.header.header-style2 .logo {  margin: 25px 0 0 0; }
	.showland .hide-reponsive { display: block; }
	.mainnav, .wrap-process .featured-process { display: none; }
	.owl-theme .owl-controls .owl-nav div, .tparrows, .wrap-blog-filter .owl-theme .owl-controls .owl-nav div { display: none!important; }
	.mainnav .list-style li a::before, .header-addinfo .menu-extra.extra-line::before, .aboutus-viewall::before, .lineyear:after, .pricing-item .header-pricing::before, .pricing-item .header-pricing::after, .wrap-iconbox-shop .iconbox::after { 
		content: none;
	}

	.logo-wrap, .header-navleft2 .logo-wrap, .top-header .logo-wrap { width: 40%; /*40%;*/ }
	.header-addinfo .logo-wrap { width: 20%; }
	.top-header { padding: 10px 0px 10px; }
	.header .logo { margin: 22px 0 0 0; }
	.header-absolute.style2 { top: 76px; }
	.header-addtop.header-navhead .menu-extra > ul > li:last-child > a { padding: 25px 0px 25px 0px; }
	.header-navhead .menu-extra > ul > li > a { padding: 26px 30px 27px; }

	.divider.h150, .divider.h100, .divider.h60, .divider.h104,.divider.h54, .divider.h76, .divider.h50, .divider.h81, .divider.h51, .divider.h59, .divider.h79, .divider.h58, .divider.h85, .divider.h69, .divider.h70, .divider.h38, .divider.h42, .divider.h48, .divider.h49, .divider.h80,
	.divider.h111, .divider.h90, .divider.h52, .divider.h66, .divider.h95, .divider.h72, .divider.h71,.divider.h97, .divider.h77, .divider.h73 {
		height: 30px;
	}

	.filte-shop ul.flat-filter-search, .filte-shop ul.portfolio-filter, .section-onehalf, .featured-testimonials.float-right, .contactform2.style3 .contact-input, .call-action .float-left, .call-action .float-right, .reponsive-full .float-right  {
		float: none;
	}

	.margin-bottom-57, .margin-bottom-42, .sidebar .widget, .wrap-header-bottom, .footer-widgets .widget, .wrap-footer .logo-footer, .post blockquote, .margin-bottom-43, .margin-bottom-45, .detail-sidebar .post blockquote, .detail-sidebar .comment-form textarea, .margin-bottom-50, .margin-bottom-61, .margin-bottom-100, .margin-bottom-82, .page-aboutme-s1 .title-section .sub-title, .btn-download,
	.page-company .post .featured-post, .page-services-s4 .sub-call-action, .main-history .flat-timeline, .section-reponsive, .margin-bottom-41, .page-aboutus-s1.home-business .sub-call-action, .flat-counter .name-count, .contact-form-center .contactform2 textarea, .page-contact-minimal .contact-minimal, .section-reponsive-mb30, .page-faq .title-section .title, .flat-error .text-error p, 
	.home-comming .title-section,.wrap-column .flat-column, .product-list .title-product-list, .wrap-iconbox-shop .iconbox, .flat-progress, .flat-iconboxes, .call-action .title-call-action, .sub-call-action, .home-comming .wrap-countdown, .margin-bottom-46, .margin-bottom-65, .title-footer8, .footer-style10 p, .flat-blockquotes h5, .home-business-s7 .sub-call-action, .section-our-services .title-section.font-oswald .title, .style4_carousel_post .title-section.font-oswald .title,
	.section_carousel_post .title-section.section-blog-title .title, .margin-bottom-67, .wrap-process .flat-process li, .wrap-process .flat-process li:nth-child(3), .blog-metro-section .flat-button, .iconbox.left-icon, .home-business .sub-call-action, .section-info-cretive .flat-info img, .info-choose .title-section .title {
	  	margin-bottom: 30px;
	}

	.sidebar .widget:last-of-type, .element-counter .section-reponsive:nth-child(3), .element-counter .section-reponsive:nth-child(4), .section-reponsive:last-of-type, .section-reponsive-mb30:last-of-type, .wrap-column .flat-column:last-of-type, .flat-iconboxes:last-of-type, .wrap-iconbox-shop .iconbox:last-of-type,
	.widget_info .flat-information  {
		margin-bottom: 0;
	}

	.progess:first-of-type, .title-section.font-oswald .title {
		margin-bottom: 60px;
	}

	.wrap-filter-blog .title-section.font-oswald .title, .home-minimal-agency-s1 .progess {
		margin-bottom: 50px;
	}

	.sidebar-reponsive-top .sidebar {
		margin-top: 50px;
	}

	.margin-top-20, .margin-top-10, .margin-top-15, .margin-top-50, .margin-top_49, .post-wrap-section, .section-info-cretive { 
		margin-top: 0;
	}

	.margin-top-49, .portfolio-classic .blog-pagination.style2 {
		 margin-top: 30px; 
	}

	.wrap-footer .nav-footer > ul > li:first-child > a, h1.title-testimonial.font-oswald, .margin-left-12, .title-section.font-dosis .title, .flat-socials a:first-of-type, .margin-left-36, .margin-left-44, .margin-left-47, .margin-left-17, .margin-left-13, .margin-left-5 {
	    margin-left: 0px;
	}

	.product-content .product, .pricing-item.style3.active, .wrap-column-reponsive .wrap-column , .header-sidebar .margin-bottom-58, .header-sidebar .margin-bottom-53, .wrap-column.margin-85, .home-business-s5 .flat-teammember-circle.style2 {
		margin: 0;
	}

	.contactform2.style3 .contact-input  { margin-right: 0; }
	.page-about-section .video-iconbox .flat-video a:after { margin-right: 2px; }
	.video-iconbox .flat-video a:after, .home-construction-s2 .video-iconbox .flat-video a:after { margin-right: -4px; }

	.home-architecture-s1 .flat-phone { padding: 9px 0px 0px 0px; }

	.flat-video-studio { bottom: 0; }
	.flat-video-studio .flat-video a:before { margin-right: -10px; }
	.flat-video-finance.video-iconbox .flat-video a:before { right: 44.3%; }

	.flat-row.home-business-s2 { top: 0; }
	.wrap-filter-blog ul.portfolio-filter > li {
		display: inline-block;
		line-height: 30px;
		padding: 0px 15px;
	}

	.section-info-cretive .flat-info { padding: 50px 30px 0px 30px; }
	.aboutus-our-team { padding: 30px 30px; }
	.wrap-our-work .our-work-title { padding: 5% 1% 6.05% 1.9%; }
	.section-text-box .post span.step { top: -23px; font-size: 80px; line-height: 80px; }
	.testimonials { padding: 50px 0px 30px; }
	.reponsive-full .divider.h85 { height: 0; }
	.title-section.font-dosis .title { letter-spacing: 5px; }
	.style-header-footer .wrap-footer { padding: 5% 2% 5% 2%; }
	.footer-six { padding: 9% 3%; }
	.footer-second1 { padding: 6% 0px 4.2% 4%; }
	.footer-second2 { padding: 6% 4% 5% 4%; }
	.footer-third1 { padding: 11% 4% 6% 4%; }
	.footer-four1 { padding: 5.6% 1% 6.3% 5%; }
	.footer-four2 { padding: 5% 1% 6.3% 5%; }
	.footer-style8 { padding: 100px 0px 100px; }
	.footer-night { padding: 10% 3%; }
	.footer-six .title-section .title { margin-bottom: 80px; }
	.home-minimal-agency-footer.style2 .footer-third1 { padding: 6.25% 3.7% 6.85% 3.15%; }
	.wrapper p.text { margin-bottom: 20px; }
	.padding-iconbox1 { padding: 3.5% 6% 4.6% 8%; }
	.iconbox .box-content { padding: 27% 4% 4%; }
	.iconbox.style2 .box-content { padding: 16% 4% 4% 10%; }
	.home-business-s9 .footer-onehalf .title-footer { margin-bottom: 10px; }
	.home-business-s9 .footer-four1 { padding: 3.85% 1% 11.45% 6.75%; }
    .home-business-s9 .footer-four2 { padding: 3.85% 1% 11.45% 6.35%; }
	.footer-home-law .footer-four1 { padding: 5.6% 1% 6.4% 5%; }
	.margin-top-51, .flat-heading h1, .flat-heading h2, .flat-heading h3, .flat-heading h4, .flat-heading h5, .flat-heading h6, .margin-top_148 {
		margin-top: 0;
	}

	hr, .hr2, .hr3, hr.default, hr.dotted, hr.custom-color, hr.custom-black { margin-top: 30px; margin-bottom: 30px; }
	.flat-button.supper-size { padding: 22px 10px 22px 10px; }
	.flat-button.large-size, .flat-button.large-size.border-none { padding: 16px 20px 17px 20px; }
	.flat-button.base-size  { padding: 16px 31px 17px 32px; }
	.flat-blockquotes blockquote, .flat-blockquotes blockquote.color-back { padding: 20px 20px 18px 20px; }

	ul.related-portfolio .relatedpd1, ul.related-portfolio .relatedpd2 {
	  padding: 30px 0px 30px; }
	li.section-onehalf.text-right.relatedpd1 { padding-bottom: 0; }
	li.section-onehalf.relatedpd2, .page-aboutme-s1 .title-section { padding-top: 0; }
	.padding-left-85, .padding-left-40, .comment-respond .comment-form-email, .padding-left-70, .countdown.style3 .square, .countdown.style3 .square:nth-child(3), .countdown.style3 .square:nth-child(2), .countdown.style3 .square:nth-child(4)  { padding-left: 0; }
	.blog-timeline .padding-left-85 { padding-left: 15px; }
	.comment-respond .comment-notes { padding-right: 0; }
	.padding-right-84, .filte-shop ul.portfolio-filter > li:first-child { padding-right: 15px; }
	.padding-top-62, .comments-area .comments-title {  padding-top: 30px; }
	.blog-box .post .info-author .meta-post.style2 { padding-top: 25px; }
	.blog-columnist .post, .wrap-testimonials.border-full h1.title-testimonial span, .padding-leftright-100 { padding: 0; }
	.wrap-scrollleft.padding2, .portfolio-single .wrap-scrollleft.padding2 { padding: 30px 0px 0px 0px; }
	.post-wrap-section .post { padding: 0px 50px 50px; }

	ul.portfolio-filter, .btn-filter-wrap, .section-portfolio ul.portfolio-filter, .section-portfolio .btn-filter-wrap, .home-portfolio-fullwidth ul.portfolio-filter, .section-slider3 .btn-filter-wrap {
		margin: 0px 0px 10px 0px;
	}

	ul.portfolio-filter > li, .btn-filter-wrap > li, .filte-shop ul.portfolio-filter > li, .section-portfolio ul.portfolio-filter > li, .section-portfolio  ul.portfolio-filter > li.active, .section-portfolio .btn-filter-wrap > li, .section-portfolio .btn-filter-wrap > li.active,
	.section-portfolio ul.portfolio-filter > li:nth-child(4), .section-portfolio .btn-filter-wrap > li:nth-child(4), .home-photography.section-portfolio ul.portfolio-filter > li, .home-photography.section-portfolio ul.portfolio-filter > li, .home-photography.section-portfolio  ul.portfolio-filter > li.active, .home-photography.section-portfolio ul.portfolio-filter > li:nth-child(5), .home-photography.section-portfolio ul.portfolio-filter > li:nth-child(4),
	ul.portfolio-filter.text-left > li, ul.portfolio-filter.text-left > li.active, ul.portfolio-filter.padding2 > li, .pofolio-filter-masonry ul.portfolio-filter > li, .pofolio-filter-masonry ul.portfolio-filter > li:nth-child(2), .home-portfolio-fullwidth ul.portfolio-filter > li,
	.section-slider3 .btn-filter-wrap > li, ul.portfolio-filter.style3 > li {
		padding: 0px 15px;
	}

	.section-portfolio ul.portfolio-filter > li:first-child, .section-portfolio .btn-filter-wrap > li:first-child, .home-photography.section-portfolio ul.portfolio-filter > li:first-child, ul.portfolio-filter.text-left > li:first-child,
	ul.portfolio-filter.padding2 > li:first-child, .home-portfolio-fullwidth ul.portfolio-filter > li:first-child, .pofolio-filter-masonry ul.portfolio-filter > li:first-child, .section-slider3 .btn-filter-wrap > li:first-child,
	ul.portfolio-filter.style3 > li:first-child {
		padding-right: 15px!important;
	}

	ul.portfolio-filter > li span, .btn-filter-wrap > li span, .filte-shop ul.portfolio-filter > li span, .section-portfolio ul.portfolio-filter > li span, .section-portfolio .btn-filter-wrap > li span, .home-photography.section-portfolio ul.portfolio-filter > li span, .section-portfolio .btn-filter-wrap > li span,
	ul.portfolio-filter.text-left > li span, ul.portfolio-filter.style2 > li span, .home-portfolio-fullwidth ul.portfolio-filter > li span {
		right: 6px;
	}

	.blog-posts .divider{ 
		height: 0;
	}

	.sidebar-pagination .blog-pagination, .detail-sidebar .post-wrap, .blog-timeline .margin-bottom-80, .sidebar-pagination .blog-pagination {
		 margin-bottom: 50px;
	} 

	.btn-menu {
		display: block ;
	    width: 30px;
    	height: 30px;
    	font-size: 17px;
	}

	.header-design ~ #mainnav-mobi .menu {
	    overflow-y: auto;
	    height: 70vh;
	}

	.btn-menu.color-white { color: #fff; }
	.btn-menu, .header-btn .btn-menu, .header-design.header-btn .btn-menu { margin: 25px 0px; font-size: 17px; }
	.mainnav .mega-menu {
	    opacity: 1;
	    visibility: visible;
	    margin: 0 0;
	    padding: 0 0px 0px 0px !important;
	    position: relative;
	}

	.wrap-menu-extra { width: 50%; padding-right: 30px; }

	.menu-extra > ul > li > a { padding: 25px 11px 25px; font-size: 20px; }
	.menu-extra > ul > li:last-child > a, .header-style2 .menu-extra > ul > li:last-child > a, .header-style2 .menu-extra > ul > li > a { padding: 25px 0px 25px 12px; }
	.menu-extra > ul > li > a > span { left: 18px; top: 12px; }
	.header.header-style2 .menu-extra > ul > li > a, .header-addinfo.header-style2 .menu-extra > ul > li:last-child > a { padding: 25px 0px 25px 30px; }
	.header-style2 .menu-extra > ul > li > a > span, .header-addinfo.header-style2 .menu-extra > ul > li > a > span { top: 12px; left: 35px; }
	.img-arrow { left: 33.7%; }

	.shopping-cart .subcart .flat-button { padding: 15px 30px; }
	.header-sidebar .btn-menu { margin-top: 0; }
	.header-sidebar .logo-left { float: left; }
	.header-sidebar #mainnav-mobi { top: 55px; left: 0; }

	.wrap-iconbox-shop {
	    padding: 20px 0px 20px;
	}

	.wrap-iconbox-shop .iconbox:first-of-type, .wrap-iconbox-shop .iconbox, .wrap-iconbox-shop .iconbox:last-of-type {
	    padding-left: 30px;
	}
	
	/*  top Search */
	.top-search { top: 110%;}
	.top-search.show { top: 100%;}
	.top-search .form-search input, .header-addsocial .top-search .form-search input, .header-style2 .top-search .form-search input,
	.header-navhead .top-search .form-search input, .header-addinfo.header-style2 .top-search .form-search input, .header-addinfo.header-style2.header .top-search .form-search input { height: 40px; font-size: 14px; }
	.header-style2 .top-search { right: 0; width: 100%; }
	.menu-extra.color-white > ul > li.show-search.active > a { color: #fff; }


	.page-title { padding: 10px 0px 10px;   /*60px 0px 60px;*/ }
	.page-title-heading .title { font-size: 43px; }
	.post .meta-data { padding-bottom: 15px; margin-bottom: 15px;}

	/*  Sidebar  */
	.sidebar { margin-left: 0; margin-top: 0; }

	/* footer */
	footer {  padding: 50px 0px; }
	.wrap-footer .nav-footer > ul > li > a { margin: 0px 10px; }
	.wrap-footer .flat-socials { margin-top: 20px; }
	.go-top { bottom: 25px; }
	.go-top.show { right: 25px; }

	/*  Home Blog detail */
	.post blockquote, .detail-sidebar .post blockquote { padding: 15px; }

	.comment-list ol.children { margin-left: 50px; }
	.go-top { width: 30px; height: 30px; line-height: 30px;	}
	.go-top i, .go-top3 i { font-size: 16px; }
	.flat-row { padding: 40px 0; }
	.page-title-heading h1, .flat-qoute p { font-size: 30px; line-height: 40px; }

	/* Home Blog */
	.grid-four.gird-sidebar .post h2.title-post {
	    font-size: 18px;
	    line-height: 24px;
	}

	.portfolio-item .portfolio-info-show ul.list-info {
	    padding: 30px 0px 30px;
	    margin: 30px 0px 30px;
	}

	.portfolio-item .portfolio-info-show.padding1 {
	    padding: 4.75% 10% 2% 6%;
	}

	.portfolio-creative .flat-portfolio .portfolio-item:hover .portfolio-info, .flat-portfolio .portfolio-item:hover .portfolio-info {
	    left: 15px;
	    top: 15px;
	    width: calc(100% - 30px);
	    width: -webkit-calc(100% - 30px);
	    width: -moz-calc(100% - 30px);
	    width: -o-calc(100% - 30px);
	    height: calc(100% - 30px);
	    height: -webkit-calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    height: -o-calc(100% - 30px);
	}

	.flat-teammember-circle.style4 .teammember .info-overlay {
	    padding-top: 103%;
	}

	.flat-teammember-circle .teammember .info-overlay {
	    padding-top: 111.5%;
	}

	.page-services-single .flat-accordion .toggle-title:before {
	    left: 90.2%;
	}

	.home-comming .countdown .square .numb { font-size: 43px; }
	.home-comming .countdown .square .text { font-size: 14px; }

	.countdown .square .numb {
	    font-size: 55px;
	    width: 140px;
	    height: 140px;
	    line-height: 140px;
	}

	.countdown .square .text, .time_circles > div > h4 {
		font-size: 14px;
		margin-left: 0;
		letter-spacing: 1.5px;
	}

	.countdown.style2 .square {
	    width: 150px;
	    height: 150px;
	    padding-top: 9px;
	}

	.countdown.style2 .square .numb { padding-bottom: 6px; margin-bottom: 10px; }
	.countdown.style3 .square .text { padding-top: 37px; padding-left: 3px; }
	.countdown.style3 .square .text:before { left: -5px; }

	.countdown.width25 .square { width: 25%; }
	.time_circles > div { top: 27%!important; }
	.time_circles > div > h4 { font-size: 16px!important; letter-spacing: 0; }

	.pricing-item.style2 .pricing-content::before, .pricing-item.style2 .pricing-content::after { left: 37%; }

	.wrap-testimonials.border-full .flat-testimonials { padding: 30px 30px 25px; }
	.testimonials.style2::before { bottom: 92.5%; left: 42.5%; }

	.flat-tabs .content-tab.float-left { padding: 14px 0px 20px 30px; }

	.link-gallery a, .link-gallery a:nth-child(3), .link-gallery a:nth-child(4), .link-gallery a:nth-child(5), .link-gallery a:nth-child(6) { margin-right: 6px; }
	.link-gallery a i { padding-right: 8px; }
	.link-gallery { padding: 30px 0px 30px; margin-bottom: 30px; }
	.nav-footer > ul > li > a { padding: 25px 0px 15px; }
	
	.tf-gallery #tf-carousel { bottom: 0; position: relative; padding-top: 20px; }
	.tf-gallery #tf-slider li .info-video { bottom: 48.4%; }
	.tf-gallery #tf-slider .flat-video a:before { top: 61%; right: 45%; }
	.tf-gallery #tf-slider .flat-video a:after { top: 63.5%; right: 46.5%; }
	.footer-video { bottom: 0; position: relative; margin-top: 20px; }
	.footer-video .copy-right, .footer-video .link-socials.style2 li a { color: #2b2e2f; }

	.wrap-home-video2 .tf-gallery #tf-carousel { width: 100%; margin-top: 20px; }
	.wrap-home-video2 .tf-gallery #tf-carousel .slides li { float: left!important; }
	.wrap-home-video2 .content { height: 180px; width: 100%; padding-left: 20px;}
	.wrap-home-video2 .tf-gallery #tf-slider .flat-video a:before { margin-top: 0px; margin-right: 5px; }
	.wrap-home-video2 .tf-gallery #tf-slider .flat-video a:after { top: 66%; margin-right: 16px; }
}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 990px) {
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	
	
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 760px) {
	.header-design ~ #mainnav-mobi .menu { height: 80vh; }
	.header-absolute.header-addinfo ~ #mainnav-mobi { top: 94px; }
	.page-about-section .video-iconbox .flat-video a:before { right: 45.5%; }
	.countdown .square { margin-right: 8px; }
	.countdown .square .numb {
	    font-size: 45px;
	    letter-spacing: 3px;
	    width: 120px;
	    height: 120px;
	    line-height: 120px;
	}

	.countdown.style2 .square {
	    width: 120px;
	    height: 120px;
	    padding-top: 0px;
	}

	.countdown.style2 .square .numb {
		font-size: 40px;
		line-height: 60px;
		padding-bottom: 2px;
    	margin-bottom: 5px;
	}

	.countdown .square .text { font-size: 12px; }
	.time_circles > div > span { padding-bottom: 4px; margin-bottom: 4px; }
	.flat-teammember-circle .teammember .info-overlay { padding-top: 113.5%; }
	.flat-teammember-circle .teammember .info-overlay .flat-socials a, .flat-teammember-circle .info-overlay .flat-socials a:nth-child(3) {
	    margin-left: 10px;
	}

	.title-footer.font-dosis { letter-spacing: 1.8px; }
	.img-arrow.style2 { bottom: 69px; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 58.5%; }
	.plan-purchase .row { margin-right: 0; margin-left: 0; }
	.plan-purchase .row .col-md-12 { padding-right: 0; padding-left: 0; }
	.planding-isotope { margin: 0 -10px; }
	.planding-isotope .plan-item { padding: 0px 10px; }

	.img-arrow { left: 30.7%; }
	.info-aboutus2 .title-section.line .title::after { left: 75%; }
	.title-section.line.line-center .title::after { left: 25%; }
	.flat-video-studio .flat-video a:after { margin-right: -10px; }
	.flat-video-finance.video-iconbox .flat-video a:after { margin-right: 0; }
	.wrap-our-work .our-work-title { padding: 3% 1% 4.7% 1.9%; }

	.header-design.header.header-style2 .logo { margin: 10px 0 0 0; }
	.header-design.header-btn .btn-menu { margin: 15px 0px; }
	.main-slider .info-wrap .title-section .title { font-size: 40px; line-height: 50px; margin-bottom: 10px;}
	.main-slider .divider.h96, .main-slider .divider.h90, .main-slider .divider.h50 { height: 0; }
	.wrap-timeline .slick-next, .wrap-timeline .slick-prev { display: none!important; }
	.section-slider3 .btn-filter-wrap { margin: 52px 0px 10px 0px; }
	.section span.step { z-index: -1; }
	.footer-slider { bottom: 0; }
	.section ul.contact-info li { line-height: 58px; }
	.section ul.contact-info .phone { font-size: 50px; }
	.top-header .wrap-social { width: 36%; }
	.header-addtop .wrap-menu-extra { width: 36%; }
	.footer-home-law .footer-four1 { padding: 5.6% 1% 6.3% 5%; }
	.footer-second2 .flat-socials a:nth-child(3), .footer-second2 .flat-socials a { margin-left: 8px; }
	.wrap-portfolio .portfolio-item { width: 44%; }
	.portfolio-item.title30 .portfolio-info .portfolio-title { font-size: 24px; }
	.header-addsocial .logo-wrap { width: 25%; }
	.header-addsocial .wrap-menu-extra { width: 25%; padding-right: 15px; }
	.header-addsocial .wrap-social { width: 43%; }
	.menu-extra.extra-line::before { left: 17%; }
	.wrap-home-video2 .tf-gallery #tf-slider .flat-video a:after { top: 67.5%; margin-right: 18px; }
	.gallery-item:hover .gallery-link a {
	    -webkit-transform: translateY(80px);
	    -moz-transform: translateY(80px);
	    -ms-transform: translateY(80px);
	    -o-transform: translateY(80px);
	    transform: translateY(80px);
	}
}


/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.header-design ~ #mainnav-mobi .menu { height: 60vh; }
	.header-addsocial.header-absolute ~ #mainnav-mobi { top: 123px; }
	
	.float-left, .float-right, .wrap-footer .nav-wrap, .wrap-footer .logo-footer, .wrap-footer .flat-socials, .blog-timeline .post .featured-post, .blog-timeline .post .content-post, 
	.wrap-partners .flat-partners .featured-partners, .wrap-all-project .post, .wrap-blog-isotope .flat-blog-isotope .post-item, .style4_carousel_post .featured-left .post .featured-post, .style4_carousel_post .featured-left .post .content-post, .grid-two-third, .footer-reponsive, .grid-one-third, .featured-left2 .post .featured-post, .featured-left2 .post .content-post, .comments-area ol.comment-list article .comment-author, .section-reponsive, .footer-onehalf {
		float: none;
	}

	.gird-sidebar article.post, .grid-three.gird-sidebar article.post, .grid-four.gird-sidebar article.post, .blog-timeline .post .featured-post, .blog-timeline .post .content-post, .product-fluid .product .product-item, .product-threecolumn .product .product-item, .product-fourcolumn .product .product-item, .wrap-portfolio .portfolio-item, 
	.wrap-partners .flat-partners .featured-partners img, .flat-our-team .teammember, .home-creative-freelancer-s2 .flat-blog-isotope .post-item, .planding-isotope .plan-item, .home-architecture-s2 .flat-portfolio .portfolio-item, .flat-iconboxes.style2, .home-interior-design-s2 .flat-blog-isotope .post-item,  .wrap-our-work .section-one-fourth, .wrap-blog-section .section-one-fourth, .wrap-all-project .post, .wrap-blog-isotope .flat-blog-isotope .post-item, .style4_carousel_post .featured-left .post .featured-post, .style4_carousel_post .featured-left .post .content-post, .style4_carousel_post .featured-left .post .featured-post img,  .blog-isotope-masonry .post-item, .gallery-item .gallery-thumbnail img, .header-addsocial .wrap-social, .grid-two-third, .featured-left2 .post .featured-post, .featured-left2 .post .content-post, .grid-one-third, .flat-tabs .menu-tab.float-left, .flat-tabs .content-tab.float-left, .page-element-button .one-fourth, .footer-reponsive, .section-reponsive, .home-comming .wrap-countdown .countdown.width25 .square, .footer-onehalf, .countdown.width25 .square {
		width: 100%;
	}

	.blog-timeline .post .content-post .meta-post:after, .flat-iconboxes.style2, .lineyear:after, .wrap-process .featured-process::before, .flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { 
		content: none;
	}

	.section-mywishlist ul.flat-pagination, .countdown.style2.width25, .countdown, .top, .header-addsocial .flat-socials {
		text-align: center;
	}

	.direction .flat-socials { text-align: left; }
	.portfolio-classic .wrap-socials .share, .wrap-scrollleft .wrap-socials .share, .top-header .logo-wrap { float: left; }
	.top-header .wrap-social { float: right; }
	.one-six, .top-header .wrap-social, .top-header .wrap-social { width: 50%; }
	.header-addtop .wrap-menu-extra { width: 85%; }
	.go-top3 { left: 90%; }

	.element-counter .section-reponsive:nth-child(3), .element-counter .section-reponsive:nth-child(4) { margin-bottom: 30px; }

	.element-counter .section-reponsive:last-of-type { margin-bottom: 0; }
	.blog-timeline .post .content-post .time-post { margin: 21px 0px 0px -2px; }
	.blog-timeline .post .content-post .padding-top-25 { padding-top: 0; }
	.footer-five .flat-socials a, .footer-five .flat-socials a:nth-child(3) { margin-left: 20px; }
	.blog-timeline .list-timeline .featured-right { margin-bottom: 50px; }
	.style4_carousel_post .featured-left .post .featured-post { margin-bottom: 10px; }
	.padding-iconbox2 { padding: 23.3% 4% 5.55% 4%; }
	.iconbox .box-content { padding: 19% 3% 4%; }
	.blog-timeline .list-timeline .featured-right a, .section-mywishlist ul.flat-pagination .con-shop, .countdown .square { margin-bottom: 20px; }
	.wrap-portfolio .flat-portfolio.mg-leftright, .header-addsocial .margin-top-45, .planding-isotope { margin: 0; }
	.wrap-portfolio .portfolio-item.pd-leftright { margin: 0px 0px 30px; }
	.wrap-partners .flat-partners .featured-partners, .countdown.width25 .square { margin-right: 0px; }
	.countdown .square { margin-right: 8px; }
	.blog_column_metro.grid-metro .post .content-post { padding: 27.2% 0 0 }
	.product-list .title-product-list::after { width: 120px; }
	.countdown.style2 .square { border: none; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 60%; height: 50px;}
	.flat-video-finance.video-iconbox .flat-video a:before { right: 36.3%; }
	.flat-video-finance.video-iconbox .flat-video a:after { margin-right: -6px; }
	
	.header-addinfo .logo-wrap { width: 40%; }
	.header-absolute.header-addinfo ~ #mainnav-mobi { top: 89px; }
	.page-about-section.section-whychoose .content-whyus { padding: 7% 4% 5%; }
	.planding-isotope .plan-item { padding: 0; }
	.shopping-cart .subcart {
	    width: 300px;
	    right: -40px;
	    padding: 10px 10px;
	}

	.addtop2 .shopping-cart .subcart { right: -94px; }

	.flat-video a:after { margin-right: 0; }
	.video-iconbox .flat-video a:after { margin-right: -7px; }
	.video-iconbox .flat-video a:before { right: 40%; }

	.direction .widget.widget-tags .tags-list a { margin-bottom: 8px; }
	.comment-list ol.children { margin-left: 0px; }
	.comments-area ol.comment-list article .comment-author {
	    margin-right: 0;
	    padding-right: 0;
	    height: 98px;
	    border-right: none;
	}

	.page-aboutme-s1 .wrap-timeline .flat-timeline.slick-current h3 { font-size: 30px; margin-bottom: 10px; }
	.main-history .flat-timeline .data-year::before { right: 45px; top: 45px; }
	.main-history .flat-timeline .data-year::after { right: 49px; top: 51px; }

	.page-about-section .video-iconbox .flat-video a:before { right: 37%; }
	.page-about-section .video-iconbox .flat-video a:after { margin-right: -15px; }

	.infobox { padding: 20px 30px 20px; }
	.testimonials.style4::before { left: 86%; }
	.flat-accordion.style2 .toggle-title:before, .flat-accordion.style3 .toggle-title:before { left: 92%; }
	.title-section.line.line-center .title::after { left: 0%; }
	.flat-video-studio { margin-top: 30px; }

	.flat-row.section-our-services .widget .widget-title { margin-bottom: 25px; }
	.flat-video-studio .flat-video a:before { margin-right: -25px; }
	
	.countdown { display: block; }

	.countdown.style3 .square, .countdown.style3 .square:nth-child(2), .countdown.style3 .square:nth-child(3), .countdown.style3 .square:nth-child(4) { padding-left: 30%; }
	.title-section .sub-title.style2 { letter-spacing: 7px; }
	.wrap-comming-soon  .flat-socials a:nth-child(3), .wrap-comming-soon  .flat-socials a { margin-left: 10px; }	
	.footer .flat-wrap-onehalf .text-right { text-align: left; }
	.pricing-item.style2 .pricing-content::before, .pricing-item.style2 .pricing-content::after { left: 20%; }
	.flat-tabs .menu-tab.float-left { text-align: center; border-right: none; }
	.flat-tabs .content-tab.float-left { padding: 14px 0px 20px 0px; }
	.flat-accordion .toggle-title:before { left: 90.4%; }

	.header-addsocial .logo-wrap { width: 40%; }
	.header-addsocial .wrap-menu-extra { width: 50%; }

	.post-wrap-section .post { padding: 0px 0px 50px; }
	.gallery-item:hover .gallery-link a {
	    -webkit-transform: translateY(160px);
	    -moz-transform: translateY(160px);
	    -ms-transform: translateY(160px);
	    -o-transform: translateY(160px);
	    transform: translateY(160px);
	}

	.nav-footer > ul > li > a { padding: 10px 0px 0px; }
	.nav-footer > ul > li > a { margin: 0px 6px; }
	.copyright.style3 { padding: 24px 0px 25px; margin-top: 30px; }
	.main-slider .info-wrap .title-section .title, .section ul.contact-info .phone { font-size: 24px; line-height: 40px; }
	.wrap-timeline .flat-timeline.slick-current h3 {
	    font-size: 34px;
	    margin-bottom: 15px;
	}

	.main-slider .info-wrap .flat-socials a {
	    font-size: 22px;
	    width: 40px;
	    height: 40px;
	    margin-left: 10px;
	}

	.main-slider .info-wrap .flat-socials a i { line-height: 40px; }
	.main-slider .info-wrap .flat-socials > a:hover > i:first-child { margin-top: -40px; }

	.section .list-step li { width: 50%; }
	.section .list-step li p { margin: 20px 0px; }
	.section ul.contact-info li { line-height: 50px; }
	.section ul.contact-info .email { font-size: 18px; }

	.info-aboutus2 .title-section.line .title::after { left: 53%; }
	.img-arrow { left: 15.7%; }
	.plan-purchase .row { margin-right: 0; margin-left: 0; }
	.plan-purchase .row .col-md-12 { padding-right: 0; padding-left: 0; }

	.home-section-video .header-absolute { position: relative; background-color: #2b2e2f; }
	.tf-gallery #tf-slider li .info-video h5 { font-size: 30px; line-height: 40px; margin-bottom: 5px; }
	.tf-gallery #tf-slider li .info-video p { font-size: 20px; }
	.tf-gallery #tf-slider .flat-video a:before { width: 50px; height: 50px;  top: 68%; }
	.tf-gallery #tf-slider .flat-video a:after { top: 66%; right: 45.5%; font-size: 20px; }
	.footer-video .footer-onehalf, .footer-video .link-socials.style2 { text-align: center; }
	.flex-direction-nav .flex-prev.flex-disabled { left: 10px; }
	.section-slider3 .btn-filter-wrap { margin: 70px 0px 10px 0px; }

	.time_circles > div { top: 20%!important; }
	.time_circles > div > span { letter-spacing: 0; font-size: 15px!important; line-height: 15px; padding-bottom: 2px; margin-bottom: 2px; border-bottom: 1px solid; }
	.time_circles > div > h4 { font-size: 9px!important; letter-spacing: 0; line-height: 10px; }

}

@media (max-width: 320px) {	
	.page-title-heading .title { font-size: 36px; }
	.breadcrumbs ul li { font-size: 16px; }
	.wrap-menu-extra { width: 48%; }
	.header-style2.header-navleft .wrap-menu-extra { padding-right: 28px; }
	.shopping-cart .subcart { right: -68px; width: 298px; }
	.menu-extra.extra-line::before { content: none; }
	.header-addinfo .wrap-menu-extra { width: 48%; padding-right: 24px; }

	.blog-pagination.style2 .flat-pagination { text-align: center; }
	.blog-pagination.style2 .flat-pagination .previous { margin-bottom: 20px; }
	.testimonials.style4::before { bottom: 22px; }
	.flat-teammember-circle .teammember .info-overlay { padding-top: 114.5%; }
	.flat-teammember-circle.style4 .teammember .info-overlay { padding-top: 104%; }
	.page-about-section .video-iconbox .flat-video a:after { margin-right: -10px; }
	.padding-iconbox1 { padding: 3.5% 4% 9.6% 4%; }
	.padding-iconbox2 { padding: 12.3% 4% 5.55% 4%; }
	.iconbox.style3 .box-icon { margin-bottom: 10px; }
	.video-iconbox .flat-video a:after { margin-right: 0px; }

	.flat-button.button-color { padding: 18px 32px 17px 33px; }
	.flat-button.button-gradient { padding: 18px 18px 17px 18px; }
	.flat-button.button-gradient-border { padding: 16px 18px 15px 18px; }
	.flat-button.border-radius-none { padding: 14px 25px 15px 25px; }

	.header-addsocial .logo-wrap { width: 38%; }
	.gallery-item:hover .gallery-link a {
	    -webkit-transform: translateY(140px);
	    -moz-transform: translateY(140px);
	    -ms-transform: translateY(140px);
	    -o-transform: translateY(140px);
	    transform: translateY(140px);
	}

	.footer-style8 .flat-socials a, .footer-style8 .flat-socials a:nth-child(3) { margin-left: 8px; }
	.footer-style8 .info-contact .email { font-size: 20px; }

	.background-violet .wrap-menu-extra { width: 45.8%; }
	.info-aboutus2 .title-section.line .title::after { left: 43%; }
	.title-section.line.line-center .title::after {	width: 250px; }
	.img-arrow { left: 9.7%; }
	.thumbnail-logo .flat-logo { width: 47%; }
	.flat-after-before::before, .flat-after-before::after, .footer-after-before::after, .footer-after-before::before { width: 63%; }
	.call-action.style2 .btn-action .flat-button { padding: 16px 30px 15px 30px; }
	.top-header .logo-wrap { width: 48%; }
	.top-header .wrap-social, .top-header .wrap-social { width: 52%; }



}

