@import url('icons/css/fontello.css');


/* Content Builder */

.block-placeholder{height:15px;background: rgba(225,225,225,1);}
/*.block-placeholder{height:0px !important;outline: rgba(225,225,225,1) 7px solid;}*/
.ui-draggable{position:relative}
.ui-draggable.code > div:first-child {opacity:0.5;cursor:default;}
.ui-dragbox {
    -webkit-box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    -moz-box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    z-index:1}
/*.ui-dragbox-outlined {
    outline: rgba(0, 0, 0, 0.43) dashed 1px; 
    z-index:1}  */
.ui-dragbox-outlined > div:first-child {
    outline: rgba(228, 156, 90, 0.5) solid 1px; 
    z-index:1
}
.ui-dragbox-outlined.firefox > div:first-child { 
    outline: 1px dotted rgba(113, 54, 0, 0.5); /* For Firefox: uses dotted to prevent rendering issue on zoom */
    z-index:1
}

.dynamic {  width:91px !important; height:60px !important; border:rgba(225,225,225,0.9) 5px solid !important;background:transparent !important;}

.row-tool{display:none;z-index:2;width:30px;font-size:15px;color:rgba(200,200,200,0.8);position:absolute;top:0;left:-37px;}
.row-handle{cursor:move;background: rgb(175, 206, 1);color:#fff;border-top-left-radius: 5px;border-top-right-radius: 5px;width:30px;height:30px;text-align:center;line-height:30px;}
.row-html{cursor:pointer;background: rgb(0, 172, 214);color:#fff;width:30px;height:30px;text-align:center;line-height:30px;}
.row-copy{cursor:pointer;background: rgb(77, 77, 77);color:#fff;width:30px;height:30px;text-align:center;line-height:30px;}
.row-remove {cursor:pointer;background:rgb(247, 99, 46);color:#fff;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;width:30px;height:30px;font-size:15px;text-align:center;line-height:30px;}

#divTool {
    z-index: 10000;
    position: fixed; top: 0; right: -300px;
    width: 270px; height: 100%; padding: 13px; box-sizing: border-box;
    background-color: #d5d5d5;
    color: #111;
    /*-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);*/
}
#lnkToolOpen {
    width: 30px; padding: 10px 3px; margin: 0; background: #d5d5d5;
    position: absolute; top: 100px; left: -30px;
    font-family: sans-serif;
    color: rgb(87, 87, 87);
    font-size: 1.2em;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    box-sizing: border-box;
}
#lnkToolOpen.leftside {
    left: auto; right: -30px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

#divSnippetList {width:100%;height:94%;margin:0;padding:5px;box-sizing:border-box;overflow-y:auto;overflow-x:hidden;}
#divSnippetList div{cursor:move;margin:0 10px 12px 0;padding:0;float:left;background:#acacac}
#divSnippetList div:hover img {outline:rgba(0, 0, 0, 0.5) 1px solid;opacity:0.5;transition: all 0.2s ease-in-out;}
#divSnippetList div img {
    width:100%; max-width:194px; margin:0; box-sizing:border-box;
    display:block;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
}

#divSnippetList::-webkit-scrollbar {width: 12px;}
#divSnippetList::-webkit-scrollbar-track {
    background:rgba(255, 255, 255, 0.49);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#divSnippetList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:focus {outline: none;}
.row > * {min-height:30px}

/* Content Editor */

#rte-toolbar {display:none;text-align:center;width:100%;position:fixed;top:0px;left:0px;background:#ffffff;
    margin:0px;padding:12px;opacity:1;z-index:1001;webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
    box-sizing: border-box;height: 63px;}
#rte-toolbar a {
    border-radius: 0px;
    padding:9px 16px;
    color: #333333;
    background-color: #e0e0e0;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-align:center;
    line-height: 1.6;
    text-decoration:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
#rte-toolbar a:hover {
    background-color: #d3d3d3;
    }
#rte-toolbar a:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px}
#rte-toolbar a:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
#divRteLink {display:none;width:67px;white-space:nowrap;height:22px;position:absolute;text-align:center;
    vertical-align:middle;z-index:1000;opacity:0.9;background:#1AA3FF;cursor:pointer;
	border-radius:3px;border:#B7DEF3 0px solid;color:#fff;font-family: sans-serif;font-size:11px;line-height:22px}
#divFrameLink  {display:none;width:67px;white-space:nowrap;height:22px;position:absolute;text-align:center;
    vertical-align:middle;z-index:1000;opacity:0.9;background:#1AA3FF;cursor:pointer;
	border-radius:3px;border:#B7DEF3 0px solid;color:#fff;font-family: sans-serif;font-size:11px;line-height:22px}
#divRteHtml {display:none;width:100px;height:35px;white-space:nowrap;position:absolute;text-align:right;
             vertical-align:middle;text-align:right;z-index:1;}
#divRteHtml #lnkRteHtml {border-radius:3px;opacity:0.9;cursor:pointer;border:#fff 0px solid;
                         font-size:12px;margin:2px 2px 2px 2px;color:#fff;background:#000/*#1AA3FF*/;display:inline-block;width:27px;height:27px;line-height:27px;text-align:center;}

@media (max-width: 600px) {
    #rte-toolbar {display: none !important}
}

/* Image Embed */

/* Custom Image Upload */
div.fileinputs {position: relative;}
div.fakefile {position: absolute;top:0px;left:0px;z-index: 1;}
div.fakefile img {width:50px;height:50px;border-radius:50px}
#img-file {width:50px;height:50px;position: relative;text-align: right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;cursor:pointer;}
#divUploadImg {display:none;width:50px;height:50px;white-space:nowrap;position:absolute;z-index:15;border-radius:50px;text-align:center;vertical-align:middle;opacity:0.95;background:#2a2a2a;cursor:pointer;}
#divUploadImg i {font-size:20px;color:#ffffff;display:inline-block;line-height:50px;text-align:center;}

/* Content Image Upload */
input.my-file {width:50px;height:50px;position: relative;text-align: right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;cursor:pointer;}
#divToolImg {display:none;width:50px;height:50px;white-space:nowrap;position:absolute;z-index:10000;border-radius:50px;text-align:center;vertical-align:middle;opacity:0.8;background:rgba(0, 0, 0, 0.9);cursor:pointer;
             background:rgba(0, 163, 204, 0.9)}
#divToolImg #lnkEditImage{font-size:20px;color:#ffffff;display:inline-block;line-height:50px;text-align:center;}
#divToolImgSettings {display:none;width:50px;height:30px;white-space:nowrap;position:absolute;z-index:15;text-align:center;vertical-align:middle;}
#divToolImgSettings #lnkImageSettings{width:30px;height:30px;border-radius:30px;opacity:0.8;background:rgba(233, 84, 0, 0.9);cursor:pointer;font-size:14px;color:#ffffff;display:inline-block;line-height:30px;text-align:center}

#img-control input {
padding: 5px 10px;
font-family:Sans-Serif;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color:#333;
}
#img-control #btnChangeImage {
color: #ffffff;
background-color: #07b0a2;
border-color: #07b0a2;
}

/*! rangeslider.js - v0.3.1 | (c) 2014 @andreruffert | MIT license | https://github.com/andreruffert/rangeslider.js */
.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 10px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #ccc;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;

  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#divCb input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


/* Simple Modal - Inspired by modalEffects.js from http://www.codrops.com */
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	/*max-width: 630px;*/
	min-width: 320px;
	height: auto;
	z-index: 10001;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border-radius:5px;
    -webkit-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: 0;
	/*background: rgba(255, 255, 255, 0.8);*/
	background: rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
}

.md-body {
	padding: 0;
	margin: 0;
	font-size: 13px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.md-footer{
   text-align:right;
   padding: 0;
   margin: 0;
   background: #ffffff;
   border-radius: 5px;
}
.md-body input[type=text], .md-body textarea {
    display: block;
    width:100%;
    margin:0;
    font-size: 14px;
    letter-spacing: 1px;
    height:63px;
    line-height: 1.7;
    color: #000;
    background-color: #ffffff;
    background-image: none;
    padding: 20px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    /*border: 1px solid #b3b3b3;*/
    border:none;
    border-radius: 5px;
    border-collapse:collapse;
    
}
.md-body .inpchk {
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7;
    float: left;
    height: 63px;
    padding: 20px;
    box-sizing: border-box;
    
}
.md-footer button {
    padding: 15px 22px;
    margin: 0;
    width:100%;
    line-height: 1.7;
    font-size: 11px !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    color: #000;
    background-color: #dadada;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border:none;
    border-radius:0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
    
.md-footer button:hover {
    background-color: #d3d3d3;
}

.md-label {
    float: left;
    height: 63px;
    line-height: 63px;
    padding: 0 0 0 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: #999;
    width: 40%;
    box-sizing: border-box;
    background: #f0f0f0;
    border-top-left-radius: 5px;
}

.md-btnbrowse {float:left;cursor:pointer;border-top-right-radius: 5px;font-size:15px;height:63px;line-height:1.7;padding-top:20px;text-align:center;box-sizing:border-box;color:#aaa;background:#fff;}

/* Sometimes when editing, empty paragraph created (ex. when paste from external source). Hide it. Then clean it when reading the html */
p:empty {display:none;}

.md-pick {width:44px;height:44px;border-radius:500px;display:block;float:left;margin:3px;padding:0;box-sizing:border-box;cursor:pointer;}

