
.cb-icon-trash:before { content: '\e800'; } /* '' */
.cb-icon-italic:before { content: '\e801'; } /* '' */
.cb-icon-indent-left:before { content: '\e802'; } /* '' */
.cb-icon-indent-right:before { content: '\e803'; } /* '' */
.cb-icon-unlink:before { content: '\e804'; } /* '' */
.cb-icon-link:before { content: '\e805'; } /* '' */
.cb-icon-align-left:before { content: '\e806'; } /* '' */
.cb-icon-align-center:before { content: '\e807'; } /* '' */
.cb-icon-align-right:before { content: '\e808'; } /* '' */
.cb-icon-align-justify:before { content: '\e809'; } /* '' */
.cb-icon-list-numbered:before { content: '\e80a'; } /* '' */
.cb-icon-list-bullet:before { content: '\e80b'; } /* '' */
.cb-icon-camera:before { content: '\e80c'; } /* '' */
.cb-icon-move:before { content: '\e80d'; } /* '' */
.cb-icon-eraser:before { content: '\e80e'; } /* '' */
.cb-icon-pencil:before { content: '\e80f'; } /* '' */
.cb-icon-underline:before { content: '\e810'; } /* '' */
.cb-icon-bold:before { content: '\e811'; } /* '' */
.cb-icon-strike:before { content: '\e812'; } /* '' */
.cb-icon-code:before { content: '\e813'; } /* '' */
.cb-icon-plus:before { content: '\e814'; } /* '' */
.cb-icon-spin:before { content: '\e815'; } /* '' */
.cb-icon-docs:before { content: '\e816'; } /* '' */
.cb-icon-cancel:before { content: '\e817'; } /* '' */
.cb-icon-color:before { content: '\e818'; } /* '' */
.cb-icon-tint:before { content: '\e819'; } /* '' */
.cb-icon-picture:before { content: '\e81d'; } /* '' */